//.flex-row {
//
//	@media(min-width:$breakPhone) {
//		display: flex;
//		flex-flow: row nowrap;
//
//		> * {
//			margin-right: 40px;
//		}
//
//		&.double {
//			:first-child {
//				flex: 0 0 40%;
//				margin-right: 20px;
//			}
//
//			> * {
//				margin-right: 0;
//			}
//		}
//	}
//}

.page {

	@media (min-width:1273px) {
		display: flex;
		justify-content: space-between;
		width: 1013px;
		margin:8px auto;
		left: -82px;
		position: relative;
	}
}

.main-content {
	counter-reset: project;
	margin: 146px auto 0 auto;
	//max-width: 850px;
	transition: top $stickyTime $stickyTransition;

	@media (max-width: $breakPhone) {
		margin: 340px 0 0;
		padding: $spaceUnit;
	}

	&.stickied {
		top: 92px;

	}
}

.grid-double {
	@media (min-width: $breakPhone) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 12px;
	}

}

.summary {
	@media (min-width: $breakPhone) {
		display: grid;
		//grid-template-columns: 1fr 1fr;
		grid-template-columns: auto 500px;

		column-gap: 12px;

		p {
			text-align: left;
		}
		img {
			width: 100%;
		}
	}

}

.designer-summary {

	@media (min-width: $breakPhone) {
		font-size: 1.6rem;
		padding: 0 60px;
		border-left: 1px dotted black;
	}

	h4 {
		font-size: 2rem;
		margin: 36px 0 0 0;
		text-transform: capitalize;
		color: #282828;
		font-weight: 700;
	}
	h5 {
		color: #282828;
		font-size: 1.4rem;
		margin: 0 0 0 0;
		text-transform: capitalize;
		background: #eee;
		padding: 2px 8px;
	}

	ul {
		margin: 0 0 8px 16px;
		padding: 8px 12px 0 12px;
	}

	.level {
		margin: 12px 0 16px 0;
		border: 3px solid #eee;
		border-radius: 5px;

	}
}
//.road-to-ux {
//	@media (min-width: $breakPhone) {
//		display: grid;
//		grid-template-columns: 1fr 2fr;
//		column-gap: 12px;
//
//		div {
//			margin: 0 40px;
//		}
//	}
//}

.project-header-grid-hero {
	margin-bottom: 96px;


	@media (min-width: $breakXL) {
		grid-template-columns: 1fr 5fr 2fr;
		display: grid;
		column-gap: 48px;
	}
}

.project-content-grid {
	margin-bottom: 96px;

	@media (min-width: $breakPhone) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 96px;
		justify-items: center;
	}
	@media (min-width: $breakXL) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}


}

image + blockquote {}