.flex-row {

	@media(min-width:$breakPhone) {
		display: flex;
		flex-flow: row nowrap;

		> * {
			margin-right: 40px;
		}

		&.double {
			:first-child {
				flex: 0 0 40%;
				margin-right: 20px;
			}

			> * {
				margin-right: 0;
			}
		}
	}
}

.page {

	@media (min-width:1273px) {
		display: flex;
		justify-content: space-between;
		width: 1013px;
		margin:8px auto;
		left: -82px;
		position: relative;
	}
}
.header {
	background: white;
	box-shadow: 0 0 25px 0px #0000003b;
	overflow: hidden;
	padding: $spaceUnit 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 2rem;

	@media (min-width:1273px) {
		font-size: 1.8rem;
	}


	.user-name {
		display: inline;
	}

	.expertise {
		display: inline;
	}

	a {
		color: #a6a6a6;
		text-decoration: none;
	}

}

.main-content {
	counter-reset: project;
	margin: 122px auto 0 auto;
	max-width: 850px;
	transition: top $stickyTime $stickyTransition;

	&.stickied {
		top: 92px;
	}


	@media (max-width: $breakPhone) {
		margin: 110px 0 0;
		padding: $spaceUnit;
	}
}
.main-content > .project {
	background: #fff;
	margin-bottom: 20px;
	padding: 36px;
}






