@use 'sass:math';

$fontHeading: 'Arimo', serif;
$fontBody: 'Source Sans 3', sans-serif;
$phi: 1.618;

//$higherNumber: math.pow(10, 2); // 100
//$lowerNumber: math.sqrt(100); // 10
//
//@mixin liftKitOffsetUp($curSize, $step){
//  $multiplied: math.pow($curSize, $step);
//  margin-bottom: (1.6rem*$multiplied);
//}
//

h1, h2, h3, h4, h5, h6 {
    font-family: $fontHeading;
    font-weight: 700;
    margin: 0;
    text-rendering: optimizelegibility;
    text-transform: capitalize;
}
p+h1, p+h2, p+h3, p+h4, p+h5, p+h6,
ul+h1, ul+h2, ul+h3, ul+h4, ul+h5, ul+h6, ul+p, ul+small {
  margin-top: $padding-xs;

  @media (min-width:$breakForDesktop) {
     margin-top: $padding-sm;
  }

}

//line heights by 1.25
//minor third 1.2
$typeBase: 1.6rem;
$typeRatio: 1.2;
$mobileTypeRatio:1.1;

@mixin typeScale($ratio, $step){
	$multiplier: math.pow($ratio,$step);
	font-size: ($typeBase*$multiplier);
    line-height: ($typeBase*$multiplier*$ratio);
    margin-bottom: $padding-xs;

	@media (max-width: $breakForTablet) {
		$mobileMultiplier: math.pow($mobileTypeRatio,$step);
		font-size: (1.4rem*$mobileMultiplier);
		line-height: (1.4rem*$mobileMultiplier*1.4);
	}
}


h1 {
	@include typeScale($typeRatio,8)
}

h2 {
	@include typeScale($typeRatio,7)
}
h3 {
	@include typeScale($typeRatio,6)
}

h4 {
	@include typeScale($typeRatio,5)
}

h5 {
	@include typeScale($typeRatio,4)
}

h6 {
	@include typeScale($typeRatio,3)
}

p {
    margin-top: 0;
	@include typeScale($typeRatio,2);
    line-height: 1.5;
}

small {
    @include typeScale($typeRatio,1);
  display: block;
}

ul ,ol{
	margin: 0;
	padding: $padding-xs 0 $padding-xs 0;
	line-height: 32px;
	@include typeScale($typeRatio,2);
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 24px;
	counter-reset: inst;

}
li {
	margin-bottom: $gridUnit*2;
	counter-increment: inst;
	padding-left: $gridUnit*2;
}
ul li {
	list-style-type: square;
}
ol li {
}

.overline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}