$spaceUnit: 8px;
$componentSpace: 48px;
$componentSpace2: 96px;

$colorAccent: #009dd2;
$colorPrimary: #282828;
$colorSecondary: lighten(#282828, 25%);

$fontHeading: 'Roboto Condensed', sans-serif;
$fontBody: 'Open Sans', sans-serif;

$breakPhone: 767px;
$breakXL: 1200px;

$stickyTime: 100ms;
$stickyTransition: ease-out;
