$gridUnit: (8px);


$breakForTablet: 767px;
$breakForDesktop: 992px;

$stickyTime: 100ms;
$stickyTransition: ease-out;

$padding-lg: $gridUnit*18;  //144
$padding-md: $gridUnit*10;  //80
$padding-sm: $gridUnit*5;   //40
$padding-xs: $gridUnit*2;   //16
$padding-xxs: $gridUnit;    //8
$padding-xxxs: $gridUnit/2; //4
