$primaryColor: aqua;
$spaceUnit: 10px;
$fontHeading: 'Merriweather', serif;


html {
    height:100%;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $fontHeading;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.mainContent {

    @media (max-width: 992px){
    }

}
