footer.bg-light-4
    .about-me
        h6 Christopher Norton
        p Senior designer with experience in UX/UI launching 26 new products and countless features for web and mobile in the last 10 years. Able to lead, execute, analyze, and iterate on products from start to finish for cross-functional and regionally diverse teams. Strong problem-solving skills and a design thinker with a proven track record in enterprise-level B2B, B2C and SaaS products for clients such as: <strong>Boeing</strong>, <strong>Dell</strong>, <strong>John Deere</strong>, <strong>Booz Allen</strong>, <strong>Animal Planet</strong>, <strong>The Learning Channel</strong>, and others.
        small <strong>Hidden Gem</strong>: I also developed this site from scratch using HTML5, CSS3, and JS using Node.js to run a local preview server which compiles and minifies Sass on the fly with Autoprefixer, CSS Lint and ES Lint. Version control is run through Github pages. I have wide a wide range of skills enabling me to bridge the communication gap between business stakeholders, designers and engineering teams.

    .social-links
        h4(style='color: #345f7d') Site
        a(href='index.html') Home
        a(href='index.html#projects') Projects
        a(href='https://www.linkedin.com/in/christopher-p-norton/', target='_blank') LinkedIn
        a(href='downloads/chris_norton_resume_ux_designer_2025-3.pdf', target='_blank') Resume

    form(method='post', name='contactForm', id='contactForm')
        h6 Contact Me

        .form-group
            label(for='fullName') Full Name
            input(name='fullName', id='fullName' type='text')
        .form-group
            label(for='email') Email
            input(name='email', id='email' type='text')
        .form-group
            label(for='message') Message
            textarea(name='message', id='message', rows="7")
        .form-group
            button(type='submit', id='submitContact') Send
        .form-group
            small#formStatus Your message has been sent.

script(src='js/contact.js')