include _header.pug
body
    .wrapper.bg-light-1
        .page
            include _navigation.pug
            section.bubble
                .page-nav
                    a(href='index.html#projects').back
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 18V20H13.5C9.91 20 7 17.09 7 13.5V7.83L3.91 10.92L2.5 9.5L8 4L13.5 9.5L12.09 10.91L9 7.83V13.5C9 16 11 18 13.5 18H20Z" fill="black"/>
                        </svg>Projects
                .content
                    h2 Aprimo
                    //a(href='https://chrome.google.com/webstore/detail/aprimo-quickconnect/lgifolfphnohppapdhljncfahjaedmea' target='_blank') Chrome Web Store - QuickConnect
                    p DAM & Marketing Ops Applications
                    .tags
                        .tag.ux UX
                        .tag.ui UI
                        .tag.uxr UXR
                    p(style="text-align: center;")
                        img(src='images/aprimo/intermediate-preview/content-item-side-panel.jpg' style='width: 100%;')


                    h3 Impact Summary
                    ul
                        li Helped the business course-correct by finding features most important to users
                        li Retained existing customers while successfully hitting thresholds to deprecate legacy products
                        li Cut tech debt and reduced load on support with fewer calls and reduced design and development time by introducing solid reusable information architecture
                        li Reduced time and complexity on commonly widely used user actions
                        li Reduced cognitive load by providing inline context and enabling direct manipulation
                    h6 First month at Aprimo
                    p(style="text-align: center;")
                        img(src='images/aprimo/qc-feedback.jpg' style='width: 100%;')

                    h6 First 3 months - UX Chapter
                    ul
                        li After my first 3 months I took over running the company-wide UX chapter for our team of designers and ran the meeting for leadership in USA, UK, Germany, Netherlands and Belgium
                        li Updated teams on future suggestions, design patterns and documentation
                        li Recorded and managed issues affecting multiple dev teams
                        li Sent out emails to attendees recording decisions made and to do items

            section.bg-dark-2
                .content
                    h3 Digital Asset Management (DAM) & Marketing Ops Applications
                    p During my time at Aprimo I designed and built prototypes for many features and zero to one projects. To give you a sense of scale and complexity, the full video training alone for DAM and Marketing Ops took close to 6 weeks to complete so this in no way covers the full extent of any single application.

                    h6 Aprimo Ecosystem
                    ul
                        li Multiple enterprise-level web and mobile applications
                        li Legacy versions of similar products
                        li Spin-off integration apps like plugins for Adobe Suite and Chrome extensions

            section.bg-light-3
                .content
                    h4 Aprimo DAM
                    p Helps companies store, organize, collaborate, and generate a wide range of content items.

                    h6 Sample CTAs
                    ul.bubble-list
                        li CRUD (Create, read, update and delete) content items
                        li Organize, search, and download existing content and branding
                        li Integrate content changes within external applications like Adobe to update back to the server
                        li Manage usage rights and govern access and permissions
                        li Track and audit content status through revision history and duplication detection
                        li Dynamically generate new content via CDN functions
                        li Leverage existing content libraries to build LLMs and generate new on - brand content

            section.bg-light-2
                .content
                    h4 Marketing Ops
                    p Helps companies manage marketing efforts including strategy, campaigns and collaboration with team members across managed timelines.
                    h6 Sample CTAs
                    ul.bubble-list
                        li Assign team members to tasks
                        li Plot out release dates and checkpoints
                        li Audit and govern content releases

            section
                .content
                    .design-roadmap
                        .overview
                            h3 Design Roadmap
                            p Working in the newspaper industry early on drilled in the importance of the 5 W’s for writing a story but it’s a great foundation for project building too. It’s really difficult to design solutions and discuss trade-offs if you don’t know the context of the why, who, where or when. It’s also hard to know if it actually worked unless you answer the how.
                        .questions
                            .question
                                h6 Why
                                ul
                                    li Why are we building this?
                                    li What problems are we trying to solve?
                            .question
                                h6 Who, Where, When
                                ul
                                    li Who am I building this for?
                                    li Where and when and will it be used?
                            .question
                                h6 What
                                ul
                                    li What solution are we building?
                                    li How do we prioritize solutions?
                            .question
                                h6 How
                                ul
                                    li How can we measure impact and growth to validate the solution?


            section.bg-light-3
                .content
                    h3 Why
                    h6 Content Item Preview (Legacy Conversion)
                    p Aprimo couldn’t retire their legacy DAM app because users weren’t switching over to the new DAM app.

                    h6 Project Goals
                    ul
                        li Stop supporting 2 systems!
                        li Speed up design decisions and prototyping
                        li Allow development teams to work on new competitive features vs supporting decades old flows
                        li Reduce load and training for customer support by supporting fewer products
                        li Get a threshold number of users off the legacy app.

            section.bg-light-1
                .content
                    h3 Who, Where, When
                    h4 Framing Goals into Solvable Problems
                    p Before I could design a better experience I really needed to know the who, where, when and why users weren’t switching over to a more modern-looking app that supposedly had feature parity. So what gives? What got missed?
            section.bg-white
                .content
                    h4 Problem 1: Why aren’t users switching over?
                    p Tracing paths using Pendo I found 3 segments still spending time in the legacy application.
                    p
                        img(src='images/aprimo/content-item-pendo01.jpg' style='width: 100%;')

                    h6 System - Form Redirects
                    p Forms were pointing users to legacy pages after submitting.

                    h6 System - API CONFIG
                    p API calls from custom client software were pulling from legacy areas of the system.

                    h6 Human - Actual Usage
                    p Most jumps from real users happened around content items which can be accessed by the following users:
                    ul.user-list
                        li Marketers
                        li Content creators
                        li Librarians
                        li Admin
            section.bg-light-1
                .content
                    h4 Problem 2: What are users doing to the content item
                    p I found which users were hitting the old system but we stalled here for a bit because actions on the content item don’t necessarily go to individual trackable pages and we’d need to push missing tracking hooks to get a better look at what users were actually doing with the content item in the old system vs the new system. We could solve part of the problem now though with a few suggested solutions.
            section.bg-light-2
                .content
                    h4 Solution Prioritization
                    p Fixing the bad configurations and enabling hooks would get us closer to the cutoff threshold and were high-impact, low effort. Forms in DAM and Marketing Operations apps could be pointed away from legacy pages and we could have customer service reach out to high-volume system administrators individually to fix their API settings. We could implement both of the system-level solutions while we waited for more user hooks.

                    figure.grapph-priority
                        img(src='images/impact-effort.svg')
                        figcaption Round 1 Prioritization
                            small A. Fix Form Redirects
                            small B. Fix API Configurations
                        .point(class='approved', style='top: 15%; left: 18%;') <span>👍</span>A
                            //<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#65DDA7" d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2l144 0c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48l-97.5 0c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3l0-38.3 0-48 0-24.9c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192l64 0c17.7 0 32 14.3 32 32l0 224c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32L0 224c0-17.7 14.3-32 32-32z"/></svg>
                        .point(style='top: 10%; left: 27%;') <span>👍</span>B
                            //<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#65DDA7" d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2l144 0c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48l-97.5 0c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3l0-38.3 0-48 0-24.9c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192l64 0c17.7 0 32 14.3 32 32l0 224c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32L0 224c0-17.7 14.3-32 32-32z"/></svg>

            section.bg-light-4
                .content
                    h3 How
                    h4 Validation
                    p We’d know these worked when the old API stopped receiving requests. Visits to legacy pages targeted by forms should also be going down.


            section.bg-dark-2
                .content
                    p
                        img(src='images/aprimo/content-item-pendo02.jpg')

                    h4 Back to Problem 1
                    p With feature tracking hooks installed in Pendo I found that user actions were focused around searching for and downloading DAM content and were bouncing back to the legacy system to browse content catalogs with larger previews.

            section.bg-light-3
                .content
                    h3 What
                    h4 Prototyping
                    p The new system changed the flow to get to a larger preview.
                    h6 Old system flow:
                    ol
                        li Search query
                        li Results page
                        li Click on a result to go to the result detail page with large preview
                        li Click back to the results page and on another result to view other large previews
            section.bubble
                .content
                    h3 Prototype A - Intermediate preview with full screen
                    p
                        a(href='https://www.figma.com/proto/w6g6pVKf3yWhLILAhNE8DZ/Content-Item-%E2%80%93-Preview-Side-Panel?page-id=244%3A449294&node-id=244-454527&p=f&viewport=-2501%2C1412%2C0.13&t=2a4RKsuINpcVgrlB-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=244%3A454527&show-proto-sidebar=1', target='_blank')
                            img(src='images/aprimo/intermediate-preview/content-item-side-panel.jpg')
                            .figma-ptorotype View Figma Prototype
                    h6 New Flow
                    ol
                        li Search query
                        li Results page
                        li (Goal) Click on a result to see a preview
                        li Use previous and next buttons or arrow keys to move between results without leaving the large preview

                    p 👍 Identify content faster with a larger preview side window
                    p 👍 Allow full screen browsing
                    p 👍 Creates a selected card state allowing users to mark their place while browsing results
                    p 👍 Makes content type more visual with dynamic preview window
                    p 👍 More upfront access to metadata
                    p 👍 Use arrow keys to quickly move between items and not lose your place
            section.bubble
                .content
                    h3 Prototype B - show sibling items fullscreen after clicking on the card
                    p
                        a(href='https://www.figma.com/proto/w6g6pVKf3yWhLILAhNE8DZ/Content-Item-%E2%80%93-Preview-Side-Panel?page-id=105%3A16135&node-id=109-17192&p=f&viewport=605%2C472%2C0.28&t=6BgkgFwUCpNRBLcw-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=109%3A16147', target='_blank')
                            img(src='images/aprimo/intermediate-preview/content-item-fullscreen.png')
                            .figma-ptorotype View Figma Prototype
                    h6 New Flow
                    ol
                        li Search query
                        li Results page
                        li (Goal) Click on a result to see a preview fullscreen
                        li Use previous and next buttons or arrow keys to move between results without leaving the large preview
                        li Close button to exit fullscreen mode
                    p 👍 Identify content faster with a larger preview side window
                    p 👍 Use arrow keys to quickly move between items
                    p 👎 Loses context of cards appearing before the selection

            section.bg-white
                .content
                    h4 Solution Prioritization

                    p During demos A was received very well while B was found to be confusing and was jarring for a lot of stakeholders.
                    figure.grapph-priority
                        img(src='images/impact-effort.svg')
                        figcaption Round 2 Prioritization
                            small A. Sibling Preview Window
                            small B. Intermediate Preview
                        .point(class='approved', style='top: 10%; left: 80%;') <span>👍</span>A
                            //<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="#65DDA7" d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2l144 0c26.5 0 48 21.5 48 48c0 18.5-10.5 34.6-25.9 42.6C497 275.4 504 288.9 504 304c0 23.4-16.8 42.9-38.9 47.1c4.4 7.3 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48l-97.5 0c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3l0-38.3 0-48 0-24.9c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192l64 0c17.7 0 32 14.3 32 32l0 224c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32L0 224c0-17.7 14.3-32 32-32z"/></svg>
                        .point(style='top: 60%; left: 25%;') B



                    h6 A. Sibling Preview Window
                    p Lowest development effort but confusing for a lot of stakeholders. Perceptual load time was higher as well.
                    h6 B. Intermediate Preview
                    p Prototype was well received and found intuitive by stakeholders.


            section.bg-light-1
                .content
                    h3 How
                    h4 Validation
                    ul.checkmark-list
                        li Over a rolling 90 days, we started seeing users shifting over to the new system.
                        li Reduced bounce rate to legacy app
                        li Reduced time to find and download content item
                        li Feature clicks to expand content items to fullscreen

            section.bg-light-2
                .content
                    h3 Impact
                    h6 User
                    ul
                        li Found content to download faster
                        li Arrow keys were picked up intuitively
                        li Less switching between old and new applications

                    h6 Business
                    ul
                        li Helped the business course-correct by finding features most important to users
                        li Retained existing customers while successfully hitting thresholds to deprecate legacy products
                        li Cut tech debt by half
                        li Reduced load on support with fewer calls

            section.bg-light-1
                .content
                    h4 ACHIEVED BUSINESS GOALS
                    ul.checkmark-list
                        li Speed up design decisions and prototyping li
                        li Allow development teams to work on new competitive features vs supporting decades old flows
                        li Reduce load and training for customer support by supporting fewer products

            section.bg-white
                .content
                    p(style="text-align: center;")
                        img(src='images/aprimo/ooux/navigation.png' style='width: 100%;')
                    h3 More on Managing complex design decisions with OOUX
                    p Content items are used throughout all of Aprimo's enterprise level applications so even the smallest change has the potential to break consistency and functionality across the entire platform of apps. Additionally content items are represented across different levels of fidelity inside different features.
                    p(style="text-align: center;")
                        img(src='images/aprimo/ooux/fidelity.jpg' style='width: 100%;')

                    h6 Affected Applications
                    ul
                        li DAM
                        li Marketing Ops
                        li Legacy Apps
                        li Browser Plugins

                    h6 Fidelity Levels of a Content Item
                    ul
                        li Card
                        li List/Table Row
                        li NEW - Intermediate Preview
                        li Full Detail Page

                    p(style="text-align: center;")
                        img(src='images/aprimo/ooux/ci-board.jpg' style='width: 100%;')
                    h3 Building consistency across fidelity.
                    p The trick to getting any object to feel similar across various levels of fidelity is to keep the order of properies and provide similar styling callbacks. To compare all the instances of content items I audited the visibility and order of attributes using Object Maps.
                    p(style="text-align: center;")
                        img(src='images/aprimo/ooux/ci-comp.jpg' style='width: 100%;')

                    h3 Object Maps
                    p Mapping out the information architecture for core objects with OOUX inside AirTable allowed me to track variations of how a content item appears across the platform and between features. It's a methodical way to uncover decades of inconsistency and flag missing expected functionality that is critical to making things feel intuitive. Mapping objects this way also provides a chance to consolidate code and point out opportunities for reusable components.

                    p(style="text-align: center;")
                        img(src='images/aprimo/ooux/qc-attributes.jpg' style='width: 100%;')
                    h3 Preventing Future Chaos
                    p By tracking parents or children of ojects in OOUX I also knew which related objects would also need consideration if any functionality changed. For example what should happen to a user-created content item in the system if the user who created it is removed? Should it get removed as well or just display a missing token where the source link is normally?
                    p(style="text-align: center;")
                        img(src='images/aprimo/ooux/object-map.png' style='width: 100%;')

                    h3 Tracking Complex Decisions
                    p Tracking objects in AirTable allowed me tag object properties with release data so I could dynamically filter on what's really necessary. I also attached questions that needed to be sent to various groups or flagged for validation.

                    p(style="text-align: center;")
                        img(src='images/aprimo/ooux/open-questions.jpg' style='width: 100%;')

                    p(style="text-align: center;")
                        img(src='images/aprimo/ooux/questions.jpg' style='width: 100%;')

                .page-nav
                    a(href='index.html#projects').back
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 18V20H13.5C9.91 20 7 17.09 7 13.5V7.83L3.91 10.92L2.5 9.5L8 4L13.5 9.5L12.09 10.91L9 7.83V13.5C9 16 11 18 13.5 18H20Z" fill="black"/>
                        </svg>Projects


    include _footer.pug