include _header.pug
body
    .wrapper.bg-light-1
        .page
            include _navigation.pug
            section.bg-white
                .page-nav
                    a(href='index.html#projects').back
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 18V20H13.5C9.91 20 7 17.09 7 13.5V7.83L3.91 10.92L2.5 9.5L8 4L13.5 9.5L12.09 10.91L9 7.83V13.5C9 16 11 18 13.5 18H20Z" fill="black"/>
                        </svg>Projects
                .column-2
                    p Old Design
                        img(src='images/aquent/aquent-renovation-1.png', style='width:100%')
                    p New Design
                        img(src='images/aquent/aquent-renovation-2.png', style='width:100%')

                .content
                    h2 Aquent
                    p Employee Recruiting Portal
                    .tags
                        .tag.ux UX
                        .tag.uxr UXR
                        .tag.ui UI
                        .tag.vis Visual

                    h3 Impact
                    p Allowed the business to hire new talent on a faster timeline and to better communicate their key value proposition both externally and internally. They kept the updated website for 5+ years.
                    p
                        img(src='images/aquent/aquent-map.jpg', style='width:100%; margin-left:auto;margin-right:auto;')

            section.bg-light-1
                .content
                    .design-roadmap
                        .overview
                            h3 Design Roadmap
                            p Working in the newspaper industry early on drilled in the importance of the 5 W’s for writing a story but it’s a great foundation for project building too. It’s really difficult to design solutions and discuss trade-offs if you don’t know the context of the why, who, where or when. It’s also hard to know if it actually worked unless you answer the how.
                        .questions
                            .question
                                h6 Why
                                ul
                                    li Why are we building this?
                                    li What problems are we trying to solve?
                            .question
                                h6 Who, Where, When
                                ul
                                    li Who am I building this for?
                                    li Where and when and will it be used?
                            .question
                                h6 What
                                ul
                                    li What solution are we building?
                                    li How do we prioritize solutions?
                            .question
                                h6 How
                                ul
                                    li How can we measure impact and growth to validate the solution?

            section.bg-dark-3
                .content
                    h3 Why – Round 1
                    p Initially this project was going in circles and didn’t have a why if you can believe it. I was brought into a mix of department heads and developers pitching new features or reasons why people didn’t like the current site. Just a general sense of, “Make it more modern,” without having a clear goal of what the site is actually supposed to do. When you don’t know what’s wrong, it’s hard to see, but when you do it just feels like common sense that you need a goal before you can work towards accomplishing it.
                    h6 Goal
                    p It took several discussions to get consensus that the site should be focused on recruiting since candidates would frequently bail in the process after checking out the site.

            section.bg-white
                .content
                    h3 Who, Where, When
                    p Knowing that our main user would be a candidate to be recruited by the staffing agency was helpful. Here’s how I went about generating starter data from almost nothing. Each artifact or step moved us toward better understanding and actual product.
                    h6 Personas
                    p With no existing personas I needed to do some generative research on candidates mainly front-end and back-end developers. I wrote up surveys for existing employees to find out a little more about why they chose Aquent and using the surveys I built an overview of common facts, problems, behaviors and goals. This would give context to friction points in the journey.

                    h6 What was learned
                    p A website can fix a lot of things, but it isn't going to prevent culture problems like burnout and mixed messaging between values, working environment, and daily activities. I can't change the actual building or run in-person events from just a website refresh. Those items were prioritized and offloaded from the scope of the website but I knew I needed to learn more about the overall journey if this was going to be successful.
                    p
                        img(src='images/aquent/aquent-funnel.jpg', style='width:100%; margin-left:auto;margin-right:auto;')
                    h6 Journey and Business Ecosystem Mapping
                    p I was also able to find a VP familiar with the ecosystem and candidate journey and we mapped out the how the business generates revenue through recruiting and the candidate lifecycle. I then divided up the journey and grouped it into a loose AIDA model (Awareness —> Interest -> Desire -> Action) so we could visualize and empathize with the user's state of mind at each stage. Were the users just casually browsing or were they deeply engaged? Were they even seeing us? Were the common problems and goals listed in the persona research being answered to the point of having enough desire to take action?

            section.bg-dark-3
                .content
                    h3 Why – Round 2
                    p After learning more about the user and their journey I finally had some real problems that needed solving.
                    h6 Company Culture
                    p Burnout and mixed messaging between values, working environment, and daily activities. Building décor or lack of in-person and team-building events.
                    h6 Hiring Process
                    p As it turned out the overall interview process was blocking the ability to hire in a timely manner.

            section.bg-white
                .content
                    h3 What
                    h6 Solution 1 – Recruiting process
                    p With HR I helped build a plan for improving the recruiting process and team culture including:
                    ul
                        li Reducing the number of interview and vetting stages from 7 to 4.
                        li Community outreach to connect mentors with aspiring developers
                        li Planned more events like Hackathons
                        li Updated printed materials and swag
                    p
                        img(src='images/aquent/bar-wrapper.png', style='width:100% max-width:900px; margin-left:auto;margin-right:auto;')
                    p
                        img(src='images/aquent/hex.jpg', style='width:100% max-width:900px; margin-left:auto;margin-right:auto;')
                    h6 Solution 2 – Website solutions
                    p We launched a few digital products including a new online video training portal and a recruiting site as part of a plan to better align the team environment and activities with the core business values. Individual landing pages allowed us better tracking for networking at events like job fairs and school visits.
                    p I built the production site from zero including the copywriting, art direction, graphic design, imagery, motion graphics and the HTML/CSS/JS as well.
                    .column-2
                        p Technology section
                            img(src='images/aquent/aquent-full.jpg', style='width:100%; margin-left:auto;margin-right:auto;')
                        .video-container
                            img(src='video/aquent/aquent-home-static.jpg')
                            <video id="aquent-home" width="223" height="470" poster="video/aquent/aquent-home.jpg">
                                <source src="video/aquent/aquent-home.mp4" type="video/mp4">
                            </video>

                    h6 Copywriting
                    p It was helpful to map out content and information architecture before building the visuals. I found the book "Letting Go of the Words" particularly helpful in rewriting all the copy for the website to address the problems and goals I found earlier in the persona discovery process like employee surveys. It was a lot easier to get buy-in when the conversation was able to go from, "Do you like this page?" to, "Does this section make it easier to understand what we make?

                    h6 Visual design
                    p I used Adobe Photoshop, Illustrator, and Sketch to create graphics and page layouts. Colors, fonts and grid system were matched against the parent company website.
                    p
                        img(src='images/aquent/aquent-header.jpg', style='width:100% max-width:900px; margin-left:auto;margin-right:auto;')
                    p
                        img(src='images/aquent/aquent-map.jpg', style='width:100%; margin-left:auto;margin-right:auto;')
                    h6 Imagery
                    p I defined example imagery to be used in the marketing materials, picking overhead drone photos to create the feeling of seeing the big picture through future tech which is exactly what we provide in our solutions to clients: technology-based solutions that work with large amounts of data at a digestible scale.
                    p
                        img(src='images/aquent/aquent-drone-vertical.jpg', style='width:100%; margin-left:auto;margin-right:auto;')

                    h6 Motion Graphics
                    p I drew up storyboards, animated motion graphics, and handled sound design for an internal video training library. The primary focus of this team is web development so a gear was used to show things, "working." Having the logo typed out creates familiarity with job tasks which included typing out and organizing code.

                    .video-container
                        img(src='video/aquent/aquent-logo-static.jpg')
                        <video width="768" height="514" poster="video/aquent/aquent-logo.jpg" controls="true">
                            <source src="video/aquent/aquent-logo.mp4" type="video/mp4">
                        </video>
                    small Intro built in After FX for new training hub
                    .video-container
                        img(src='video/aquent/aquent-drumroll-static.jpg')
                        <video width="768" height="514" poster="video/aquent/aquent-drumroll.jpg" controls="true">
                            <source src="video/aquent/aquent-drumroll.mp4" type="video/mp4">
                        </video>
                    small Slide built in After FX for presentation template
                    h6 Development
                    p I used HTML5/CSS3 and JavaScript to build out the designs and engineered a few node.js task runners to automatically generate compressed HTML/CSS from Sass and pug sources files. It also ran CSSlint and ESlint before pushing to git version control.
            section.bg-dark-3
                .content
                    h3 How
                    p There are lots of ways to measure success. I established feedback loops and wrote short surveys given to candidates during on-boarding to give us some updated data on what was or wasn't attracting talent. Landing pages for job fairs and other events with CTAs for sending in resumes would also allow us to gauge interest from particular events over time. Overall recruiters could monitor if how many times they had to reach out to clients or how many candidates they were able to fill.
                    p Internal review and user surveys from the new feedback loop were very positive. I got moved to other projects but metrics control was handed over to recruiters and the marketing team. They kept the updated design for 5+ years.


                .page-nav
                    a(href='index.html#projects').back
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 18V20H13.5C9.91 20 7 17.09 7 13.5V7.83L3.91 10.92L2.5 9.5L8 4L13.5 9.5L12.09 10.91L9 7.83V13.5C9 16 11 18 13.5 18H20Z" fill="white"/>
                        </svg>Projects


    include _footer.pug


