include _header.pug
body
    .wrapper.bg-light-1
        .page
            include _navigation.pug
            section.bubble
                .page-nav
                    a(href='index.html#projects').back
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 18V20H13.5C9.91 20 7 17.09 7 13.5V7.83L3.91 10.92L2.5 9.5L8 4L13.5 9.5L12.09 10.91L9 7.83V13.5C9 16 11 18 13.5 18H20Z" fill="black"/>
                        </svg>Projects
                .content
                    h2 Boeing
                    p New Business Generator

                    .tags
                        .tag.ux UX
                        .tag.ui UI
                        .tag.uxr UXR
                        .tag.redacted Limited


                    h4 Limited
                    p Due to the security policies and competitive nature of the projects I worked on at Boeing, I walked away with very few visuals of the <strong>most impactful work</strong> a New Business Generator application that included client sales prediction models and client management features handling <strong>billions</strong> of dollars in sales.

                    h4 Impact
                    p Generated new leads and increase sales by approaching customers at the right time. Gave users more time back by automating repeatable processes with faster onboarding and simplifying overall access to sales data.

                    h4 My Quickest Win
                    p I saved the product team tens of thousands of dollars within the first 15 minutes of my first meeting at Boeing just by asking the head of sales how they would use the predictive sales application out in the field on mobile devices. The answer was "Never. We will never use it that way." We ended up eliminating the mobile requirement altogether. You don't always need a prototype to understand why a design suggestion isn't solving a problem. Sometimes you just need a conversation with the right people.

                    h6 Sample Initial Questions
                    p Design always depends on context. Before starting on any design I'm always looking to understand what the solution is supposed to achieve and for who and under what constraints for both the business and the user.
                    ul.checkmark-list
                        li What problem does this solve or what result are we aiming for?
                        li Who is the audience?
                        li When and where are they using our solution?
                        li What facts and behaviors will likely affect the solution needed?
                        li Do we need to validate any data?
                        li How will we know it worked/how can it be measured?
                        li What's the timeline to production?

                    h6 Question Results
                    p
                        img(src='images/boeing/new-business-generator-provisional-persona.jpg', style='width;100%')
                        small Starter persona used to understand <strong>who</strong> I was designing for, <strong>where</strong> and <strong>when</strong> problems occurred before I could start thinking of solutions.
                    h6 Solutioning
                    p I can't show a lot of the predictive sales data or how managers configured those screens but one flow was to figure out how sales managers would configure or push emails and how sales reps would receive those email leads as well as all the preferences involved as shown below. This is just a small part of the application.
                    p
                        img(src='images/boeing/new-business-generator-task-flow.jpg', style='width;100%')
                        small Mapping out a small part of the flow for when the application or manager decides to send sales reps important alerts and reports.

                    h5 A few more things I did during my time:
                    ul
                        li Designed a mix of enterprise-level internal web and mobile applications such as a zero to production predictive sales application and upgrading a legacy community social platform similar to Facebook.
                        li Designed flows managing <strong>billions</strong> in sales, expanding new business, creating quotes, managing inventory, monitoring future trends, and pushing predictive intelligence to sales leaders.
                        li Designed landing pages and one-off sites for various departments and program initiatives like safety training or automating actions. For example, submitting and pre-classifying artifacts of historical significance to the Boeing historical department.
                        li Designed responsive-design flows for a social platform similar to Facebook, allowing Boeing to preserve decades of interdepartmental knowledge sharing.

                    h5 Specifically:
                    ul
                        li Validated stakeholders across a range of concerns and access privileges to CTAs and content.
                        li Used Figma to create high-fidelity, interactive prototypes for web and mobile applications as well as external interactions like email notifications and augmented reality to scan objects.
                        li Established usability metrics and testing from zero to 1 with feedback forms on new features, and live usability testing and scoring on prototypes.
                        li Prioritized features so teams could update the most impactful features first vs just feature-parity of legacy products.
                        li Provided markup instructions to dev teams to execute flows.
                        li Utilized IBM's <strong>Carbon</strong> Design System as Well as Google's <strong>Material</strong> Design System

                    h4 More Examples
                    p I worked on multiple, less secretive sites as well, but these launched quickly and there really wasn't a ton of iteration or data-driven design before launch date.
                    .full-img
                        h6 Enterprise Sourcing Office
                        img(src='images/boeing/boeing-eso.jpg', style='width;100%')
                    .full-img
                        h6 Advanced Quality Product Planning
                        img(src='images/boeing/Advanced-Quality-Product-Planning.jpg', style='width;100%')
                    .full-img
                        h6 inSite - Social Media Platform
                        img(src='images/boeing/boeing-insite.jpg', style='width;100%')
                    .full-img
                        h6 Commerical Airplanes Total Quality
                        img(src='images/boeing/boeing-bca.jpg', style='width;100%')
            .page-nav
                a(href='index.html#projects').back
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 18V20H13.5C9.91 20 7 17.09 7 13.5V7.83L3.91 10.92L2.5 9.5L8 4L13.5 9.5L12.09 10.91L9 7.83V13.5C9 16 11 18 13.5 18H20Z" fill="black"/>
                    </svg>Projects


    include _footer.pug


