<!DOCTYPE html>
html(lang="en")#top
    head
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        title Chris Norton: Product/UX/UI/Visual Designer
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Source+Sans+3&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.Cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='styles/styles-2025.css')
        script(src='js/polyfill.min.js')

body
    .wrapper
        .content
            form(method='post', name='contactForm', id='contactForm')
                .form-group
                    label(for='fullName') Full Name
                    input(name='fullName', id='fullName' type='text')
                .form-group
                    label(for='email') Email
                    input(name='email', id='email' type='text')
                .form-group
                    label(for='message') Message
                    textarea(name='message', id='message')
                .form-group
                    button(type='submit', id='submitContact') Send

script(src='js/app.js')


