<!DOCTYPE html>
html(lang="en")#top
    head
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        title Chris Norton: Product/UX/UI/Visual Designer
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Source+Sans+3&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.Cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='styles/styles.css')
        script(src='js/polyfill.min.js')

body
    .sticky-header
        .progress-indicator
        div
            h1 Chris Norton: Product/UX/UI Visual Designer
                a(href='#top').to-top <i class="fa fa-arrow-circle-up"></i> <span>Back to Top</span>

            nav.contact
                a.menu-open(href='#') <i class="fa fa-list"></i> Project Guide
                a(class='email', href='mailto:public.cnorton@gmail.com', title='Send Email', target='_blank')
                    <i class="fa fa-envelope"></i>
                    span public.cnorton@gmail.com
            //nav.pages
            //    a(class='active', href='index.html', title='UX/UI Design') UX/UI Design
            //    a(href='ui.html', title='UI/Visual Design') UI/Visual Design
            //nav.pages
            //    a(href='#aprimo-content-item-fullscreen') UX: Content Item Preview
            //    a(href='#aprimo-quickconnect') UX: QuickConnect Chrome Plugin
            //    a(href='#aprimo-content-item-asset') UX: DAM Content Item
            //    a(href='#boeing-insite') UX: Social Media Platform
            //    a(href='#aquent-it-solutions-recruiting-website') UX/UI/Team Lead: Employee Recruiting Portal
            //    a(href='#pixelmania') UI/Visual/Team Lead: PixelMania
            nav.menu
                .about
                    .menu-header
                        a.menu-close(href='#') <i class="fa fa-times"></i>
                        h3 Project Guide
                    p <strong>Hidden Gem: </strong>I developed this site from scratch using <i>HTML5</i>, <i>CSS3</i>, and <i>JS</i> using <i>Node.js</i> to run a local preview server which compiles and minifies <i>Sass</i> on the fly with <i>Autoprefixer</i>, <i>CSS</i> Lint and <i>ES</i> Lint. Version control is run through <i>Github</i> pages. I have a wide range of skills enabling me to bridge the communication gap between business stakeholders, designers and engineering teams.
                .projects
                    //a.project(href='#top')
                    //    img(src='images/DCI/dci.png')
                    //    .title Summary/Achievements
                    //    .description My career progress, achievements, core design skills, and leadership skills.
                    a.project(href='#aprimo-content-item-fullscreen').aprimo
                        .title Content Item Preview
                        //.tags
                        //    .tag.ux UX
                        //    .tag.ui UI
                        //.description <strong>Description: </strong> Leveraging data-driven design to uncover unknown problems and frame solution strategy for teams across the organization alongside new feature development.
                        .impact <strong>Impact: </strong> Helped the business course-correct by finding features most important to users. Retained existing customers while successfully deprecating legacy products. Cut tech debt by half and reduced overall load on customer with fewer products.
                    a.project(href='#aprimo-quickconnect').aprimo
                        .title QuickConnect Chrome Plugin
                        //.description <strong>Description: </strong> Leading cross-functional teams through the design of a cross-platform product with new levels of fidelity using OOUX. Includes object definition, relationship diagramming, wireframing and interactive prototypes.
                        .impact <strong>Impact: </strong> Increased product adoption with both existing and new customers. Defined flows for future AI features.
                    a.project(href='#aprimo-content-item-asset').aprimo
                        .title DAM Content Item
                        //.description <strong>Description: </strong> Training teams on OOUX methodologies to create more intuitive and recognizable objects within the system. Building consistency of data models across multiple levels of fidelity like lists, cards, and detail pages.
                        .impact <strong>Impact: </strong> Reduced design and development time to market on future features by creating strong reusable information architecture for core business products.
                    a.project(href='#boeing-insite').boeing
                        .title Social Media Platform
                        //.description <strong>Description: </strong> Looking at the system holistically to prioritize features that gives users more value and how I assigned quantitative metrics to qualitative research and usability testing.
                        .impact <strong>Impact: </strong> Improved communication between teams and preserved existing knowledge libraries.
                    a.project(href='#aquent-it-solutions-recruiting-website').aquent
                        .title Employee Recruiting Portal
                        //.description <strong>Description: </strong> Giving design direction to projects that have stalled for years to finally move business goals forward. Includes AIDA strategy, content strategy, persona/journey definition, art direction/graphic design and front-end development HTML/CSS/JS
                        .impact <strong>Impact: </strong> Allowed the business to hire new talent on a faster timeline and better communicate their key value proposition both externally and internally.
                    a.project(href='#pixelmania').pixelmania
                        .title PixelMania
                        //.description <strong>Description: </strong> Team lead for 15 different creative teams over the course of 6 months of prep and onsite execution with international logistics. Includes visual design showcasing typography, color theory and overal visual weight in graphic design.
                        .impact <strong>Passion Project: </strong> Team lead for 15 different creative teams over the course of 6 months of prep and onsite execution with international logistics. Included on set direction, photography, art direction, and visual design.

    .main-content
        .project
            .summary
                .grid-double
                    div
                        img(src='images/DCI/dci.png', style='display:inline-block;')
                    div
                        h3 Summary

                        p Senior designer with over 20 years of experience in   UX, UI, and visual design launching 26 new products and countless features for web and mobile in the last 10 years. Expert communicator and collaborator able to lead, execute, analyze, and iterate on products from start to finish for cross-functional and regionally diverse remote teams. Strong problem-solving skills and a design thinker with a proven track record in enterprise-level B2B, B2C and SaaS products for clients such as: <strong>Boeing</strong>, <strong>Dell</strong>, <strong>John Deere</strong>, <strong>Booz Allen</strong>, <strong>Home Depot</strong>, <strong>Lego</strong>, <strong>Animal Planet</strong>, <strong>The Learning Channel</strong>, and <strong>Games Workshop</strong>

                        p
                            small <strong>Hidden Gem</strong>: I also developed this site from scratch using HTML5, CSS3, and JS using Node.js to run a local preview server which compiles and minifies Sass on the fly with Autoprefixer, CSS Lint and ES Lint. Version control is run through Github pages. I have wide a wide range of skills enabling me to bridge the communication gap between business stakeholders, designers and engineering teams.

                        div(style='text-align:center;')
                            img(src='images/john-deere/svap/svap-02.jpg', style='width:100%; max-width:700px; display:inline-block;')

                div.designer-summary
                    h3 Achievements

                    h4 Summary
                    ul
                        li 20+ years in design and interactive products
                        li Happy in both leadership and non-leadership roles for flat  or hierarchical team structures
                        li Over the last 9 years has designed and shipped:
                            ul
                                li 25+ new products
                                li 35+ feature sets on existing products
                                li Countless function-level improvements

                    h4 Core Design Skills
                    div.level
                        h5 Expert
                        ul
                            li Interaction design
                            li Visual design
                    div.level
                        h5 Strong
                        ul
                            li Prototyping
                            li Writing
                    div.level
                        h5 Capable
                        ul
                            li User research
                            li Information architecture
                    h4 Leadership Skills
                    ul
                        li Led solutioning of undefined problem spaces
                        li Developed processes and approaches for tackling design problems
                        li Built and managed design teams
                        li Team planning and mentorship
                        li Drove meetings for internal design team, dev teams and overall org

        .project#aprimo-content-item-fullscreen
            h3.project-title
                img(src='images/aprimo/Aprimo_Logo_RGB_Blue-1-390x168.png')
                span(style='color: #005f7f') Content Item Preview

            div
                h4 Problem Solving Summary
                ul.timeline-horizontal
                    li Define business goal
                    li Walk through CX/journey
                    li Quantitative research: locate friction in the funnel via Pendo
                    li Identify problems with system config and user CTAs
                    li Engage client-services, implementation, and development teams to help clients correctly configure API integrations
                    li Define new features for user CTAs
                    li Map out wireframe flow and engage stakeholders for review
                    li Build high-fidelity interactive Figma prototype solutions
                    li Qualitative research: internal usability testing
                    li Iterate on prototype solutions
                    li Quantitative research: select solution based on product forum voting
                    li Engage development teams on prototype features
                    li Execute solutions
                    li Quantitative follow-up: monitor engagement and danger metrics
                    li Business goal achieved

            .project-header-grid-hero
                .section
                    h4 Details
                    Project
                    .val-v Aprimo Content Item Preview
                    .key-value-pair
                        .key-v Client
                        .val-v Aprimo

                    .key-value-pair
                        .key-v Platform
                        .val-v Desktop, Tablet, Mobile

                    .key-value-pair
                        .key-v Launched
                        .val-v Aprimo DAM Platform
                    h4 Team
                    .key-value-pair
                        .key-h Product Owner
                        .val-h Gerda Oppewal
                    .key-value-pair
                        .key-h UX Research
                        .val-h Chris Norton<br> Susan Patrick<br> Mitch Netterlund
                    .key-value-pair
                        .key-h UX Design/UI Design
                        .val-h Chris Norton
                    .key-value-pair
                        .key-h Dev Teams
                        .val-h Netherlands/Belgium

                div
                    p
                        img(src='images/aprimo/content-item-pendo01.jpg' style='width: 100%;')
                    p
                        img(src='images/aprimo/content-item-pendo02.jpg')

                .section
                    h3 Project Goal
                    p Move more users away from legacy software products to the new system to consolidate support and development efforts going forward.

                    h3 Project Results
                    p Success!  Over a rolling 90 days, we started seeing users shifting over to the new system.
                    p <strong>Impact: </strong> Helped the business course-correct by finding features most important to users. Retained existing customers while successfully deprecating legacy products. Cut tech debt by half and reduced overall load on customer with fewer products.
                    p
                        img(src='images/aprimo/content-item-side-panel.jpg')
                    h3 What Was Fixed
                    ol
                        li Released software for larger previews with more metadata reducing friction in identifying content.
                        li Engaged implementation and client-services team to work with clients in configuring API calls.
                        li Engaged back-end team to fix forms with bad redirects kicking users back to the old system.

                    h3 What Was Learned
                    p Data-driven design was somewhat new to the org when I joined. We ran into a wall for a long period when CTAs weren't tagged in Pendo and the complex interactions required developers to write in hooks. Making a move to include hooks for all CTAs in future feature development was a great step in giving the organization the ability to monitor their success.

            .project-content-grid
                .section
                    h3 What I Did
                    h4 Translating Business Goals Into Data-driven Design
                    p Feature-driven teams I've worked on generally already have the design problem defined, who the user is, and a general sense of direction on how to solve it and where.  Innovation-driven teams though might need to discover all those things and it requires some initial research to figure out how to break down those goals into problems which can be solved by product and service solutions.
                    p In this case, the business goal was to move more users away from legacy software products to the new system to consolidate support and development efforts going forward.
                .section
                    h3 Locate Friction in the UX Journey
                    h4 UX Research Round 1 - Quantitative
                    p An initial look at activity in Pendo analytics helped us trace paths where users had moved between the old and new systems and we found that connections in the old system were a combination of back-end client scripts and users that were performing actions in both the old and new systems.
                    h4 We found:
                    ol
                        li Incorrectly configured form redirects.
                        li Incorrectly configured back-end API calls from custom client software.
                        li Most jumps from real users happened around user-generated content items.
                    h4 Quick wins
                    ol
                        li Correcting client scripts could be fixed by client services and the implementation team.
                        li Form links could be fixed by the development teams.

                .section
                    h3 Defining Problems for Product Development
                    h4 UX Research Round 2 - Quantitative
                    p We knew a few things about real world users. In terms of user journey and the AIDA model (Awareness —> Interest -> Desire -> Action), it wasn't an awareness or interest problem. The greater majority of users in the legacy system were also using the new system and had already found value in other areas. So the problem was likely in the realm of desire and action.
                    p We stalled for a while on exactly why users were bouncing on user-generated content. There were many CTAs and many missing analytics hooks that Pendo couldn't easily catch. We needed to engage development teams to add the needed hooks into existing CTAs and gather missing research.
                    p With hooks in place though, the data revealed our missing feature.  In the old system, users were using the fullscreen preview button in search results. The button was completely missing from the new system search results page. Users were using the old system because it was faster to get a larger preview on the old results page. In the new system, users had to first load up a detail page for the content item before using the preview function.
                .section
                    h3 Data-driven design and prototyping
                    p With research properly front-loaded, the design team now had a list of missing features that would help move the product towards it's business goals. For users to want to move over to the new system and take action, the new design would need to speed up the process of identifying content in search results including larger or fullscreen previews. I built interactive Firma prototypes that included larger preview options and included some metadata from the full detail page to be tested.

                    h3 Picking a solution
                    h4 UX Research Round 3: Qualitative
                    ol
                        li Usability testing
                        li Client Interviews
                    p After iterating through several prototypes in Figma and running usability testing internally, stakeholders we were able to reach out to clients still using the old system to showcase a few well-received options that included a preview side panel as an intermediate between the results and full content item detail page.


        .project#aprimo-quickconnect
            h3.project-title
                img(src='images/aprimo/Aprimo_Logo_RGB_Blue-1-390x168.png')
                span(style='color: #005f7f') QuickConnect Web Plugin
            div
                h4 Problem Solving Summary
                ul.timeline-horizontal
                    li Define business goal
                    li Qualitative: User surveys
                    li Build use cases
                    li Walk through CX/journey with stakeholders
                    li Learn the problem domain through OOUX
                    li Align definitions of core business objects
                    li Define and build object relationship matrix
                    li Generate CTAs from relationship matrix
                    li Prioritize new features from CTAs
                    li Engage dev team and outline flowchart
                    li Add object attributes to information architecture
                    li Build high-fidelity interactive Figma prototype solutions
                    li Qualitative research: internal usability testing
                    li Iterate on prototype solutions
                    li Engage development teams on prototype features
                    li Execute solutions
                    li Quantitative follow-up: monitor engagement
                    li Business goal achieved
            .project-header-grid-hero
                .section
                    h4 Details
                    Project
                    .val-v QuickConnect Web Plugin
                    .key-value-pair
                        .key-v Client
                        .val-v Aprimo

                    .key-value-pair
                        .key-v Platform
                        .val-v Desktop, Tablet, Mobile

                    .key-value-pair
                        .key-v Launched
                        .val-v
                            a(href='https://chrome.google.com/webstore/detail/aprimo-quickconnect/lgifolfphnohppapdhljncfahjaedmea' target='_blank') Chrome Web Store - QuickConnect
                    h4 Team
                    .key-value-pair
                        .key-h Project Strategist
                        .val-h Tarun Chawla
                    .key-value-pair
                        .key-h Product Owner
                        .val-h Jeff Wallace
                    .key-value-pair
                        .key-h UX/UI Design
                        .val-h Chris Norton
                    .key-value-pair
                        .key-h Dev Teams
                        .val-h USA/Netherlands/Belgium
                div
                    p
                        img(src='images/aprimo/qc-figma.png' style='width: 100%;')
                    p(style="text-align: center;")
                        img(src='images/aprimo/qc-feedback.jpg' style='width: 100%;')

                .section
                    h3 Project Goal
                    p Aprimo was aiming to provide a more seamless access to DAM assets (Digital asset management system) as users built out articles and promotional materials on blogs and social media. The target  process required heavy cognitive load by forcing them away from the task to login, download the asset, switch back to the build task and upload. Additionally Aprimo hoped to utilize the CDN to be able customize the new output in various ways such as cropping and blurring without downloading anything.
                    p
                        img(src='images/aprimo/qc-page.png')
                    h3 Project Results
                    p Chrome extension was successfully launched in the Chrome Web Store with positive reviews we were able to track an increase in users copying the CDN links to complete the flow. Internally the team found a lot of value in the process right away that we were able to carry on to other projects.
                    p <strong>Impact: </strong> Increased product adoption with both existing and new customers. Defined flows for future AI features.
                    p
                        img(src='images/aprimo/qc-page1.png')
                    p
                        img(src='images/aprimo/qc-page2.png')

                    p
                        img(src='images/aprimo/qc-ooux.jpg')

            h3 What I Did
            .project-content-grid
                .section
                    h4 Making valuable contributions right away with OOUX
                    p Early on I took over running the UX chapter remotely which communicated best practices and design decisions for all features moving forward in the product to the rest of the org to teams in USA, Belgium, Netherlands, UK, and Germany. Object-oriented UX was so valuable in familiarizing myself with important business objects so I could provide a consistent heartbeat of recommended patterns and best practices to the rest of the org. It’s an amazing workflow that gets everyone in alignment as fast as possible and gets people asking the right questions during the cheapest development cycles preventing a lot of rework down the line.
                    p
                        img(src='images/aprimo/qc-relationships.jpg')
                .section
                    h4 New levels of fidelity and flexibility
                    p In my first feature project at Aprimo, OOUX allowed me to rally stakeholders, product managers/strategists, product owners and developers earlier in the process with new modern artifacts and levels of fidelity by identifying important business objects and defining the relationships between them. With consensus on how system objects were are actually talking to each other within the system we were able to uncover essential user CTAs and harden the most valuable use cases. Having solid CTAs allowed us to start mapping out system architecture by defining core attributes and filterable metadata needed either as part of UI or in the back-end.
                    p
                        img(src='images/aprimo/qc-attributes.jpg')
                .section
                    h4 Flowcharts and wireframes
                    p Knowing which objects were in play and how they all talked to each other through their relationships and attributes made it a lot easier to map out initial flows.  Sometimes I will just start here and reach back for some of the previous tools on my own. It really depends on the project and how aligned everyone seems.  Sometimes the wireframe can start out as simple as the name of the object in play and can evolve towards including necessary components in the page.
                    p
                        img(src='images/aprimo/qc-flow.png')
                .section
                    h4 High-fidelity prototypes using Figma
                    p It really depends on the dev team and the current design system for how much fidelity is needed to move forward but for a first feature I opted to provide the most fidelity and scale back as we the team found our balance. I included several interactive Figma prototypes during this process showing how panels could expand and scroll. Using Figma allowed me to give specific design direction to the dev teams by leaning on the Material UI design system, internal UX pattern library and guidelines and my own customized components.
                    p
                        img(src='images/aprimo/qc-figma2.jpg')

        .project#aprimo-content-item-asset
            h3.project-title
                img(src='images/aprimo/Aprimo_Logo_RGB_Blue-1-390x168.png')
                span(style='color: #005f7f') DAM Content Item

            div
                h4 Problem Solving Summary
                ul.timeline-horizontal
                    li Identify bottleneck objects for design team
                    li Research object instances within the system
                    li Engage dev team to locate remaining instances
                    li Build OOUX object maps for each instance
                    li Compare and group inconsistent attributes
                    li Decide on attribute priority for the object across the system
                    li Prioritize CTAs across the system
                    li High-fidelity Figma prototypes showing new attribute alignment
                    li Qualitative research: internal usability testing
                    li Iterate on Figma prototype solutions
                    li Update documentation and design system
                    li Communicate change to the org via UX Chapter
            .project-header-grid-hero
                .section
                    h4 Details
                    Project
                    .val-v DAM Content Item
                    .key-value-pair
                        .key-v Client
                        .val-v Aprimo

                    .key-value-pair
                        .key-v Platform
                        .val-v Desktop, Tablet, Mobile

                    .key-value-pair
                        .key-v Launched
                        .val-v Aprimo DAM Platform
                    h4 Team
                    .key-value-pair
                        .key-h UX/UI Design
                        .val-h Chris Norton
                    .key-value-pair
                        .key-h Dev Teams
                        .val-h USA/Netherlands/Belgium/UK/Germany
                p
                    img(src='images/aprimo/ci-ooux.png')

                .section
                    h3 Project Goal
                    p More reusable, consistent component across multiple products in the ecosystem including look and feel and access to CTAs.
                    h3 Project Results
                    p Internally voted overly positive, reaction to new more recognizable anatomy recommendations in table view, card view and detail page view.  Strong guidelines and design methodology for future placement of actions ordering of CTAs and metadata.
                    p <strong>Impact: </strong> Reduced design and development time to market on future features by creating strong reusable information architecture for core business products.
                    p
                        img(src='images/aprimo/ci-card.jpg')

            h3 What I Did
            .project-content-grid
                .section
                    h4 Research and Discovery
                    p To compare needs for content items across the system I worked with developers and system architects to track down instances across the product and used object maps to convert all the existing attributes into a format that could be easily compared between views.
                    p
                        img(src='images/aprimo/ci-comp2.jpg')

                .section
                    h4 Finding Missing and Inconsistent Data
                    p With all the attributes mapped it was easy to discover missing attributes from more robust views.  For example, a video content item might show duration on the simple card view but be missing that same duration from the full detailed video detail page.  As a general rule more detailed views should be absorbing attributes from their more simplistic views of the same object.
                    p
                        img(src='images/aprimo/ci-comp1.jpg')
                .section
                    h4 Organization and Prioritization
                    p Using Pendo for analytics I could figure out quantitatively which data was used most often which helped in ranking priority and placement in the component anatomy. I also tapped back-end developers to get a sense of common character lengths for popular field values.
                    p Having an object map allowed me insight on unique data that is useful in identifying instances of objects vs data that can be re-used for sorting and filtering.  Grouping attributes into categories also helped define priority for display.  Using this method really helps teams visualize why data and actions are placed where they are vs just something like looks nice in one scenario but need to be changed in another.
                    p
                        img(src='images/aprimo/ci-board.jpg')
                .section
                    h4 Visualization
                    p Using the design system specs and the new anatomy guides I was able to create object containers that felt familiar across the full spectrum of available space from the smallest table row and list view representation to the most robust full detail page display.  Putting in this kind of work once really streamlines the design decisions for future work because there’s always one more action or one more icon that needs to be added and this kind of treatment gives a good roadmap for handling limitations.
                    p
                        img(src='images/aprimo/ci-comp4.jpg')


        .project#boeing-insite
            h3.project-title
                img(src='images/boeing/Boeing-Logo.png')
                span(style='color: #0033a1') Social Media Platform
            div
                h4 Problem Solving Summary
                ul.timeline-horizontal
                    li Review current process
                    li Examine personas, journey and context
                    li User permissions and feature prioritization
                    li Whiteboarding flows and wireframing
                    li Prototyping
                    li Usability testing
                    li Development
                    li Quantitative and Qualitative

            .project-header-grid-hero
                .section
                    h4 Details
                    Project
                    .val-v Social Media Platform
                    .key-value-pair
                        .key-v Client
                        .val-v Boeing

                    .key-value-pair
                        .key-v Platform
                        .val-v Desktop, Tablet, Mobile

                    .key-value-pair
                        .key-v Launched
                        .val-v Internal Boeing Network
                    h4 Team
                    .key-value-pair
                        .key-h Project Lead
                        .val-h Marc Rau
                    .key-value-pair
                        .key-h UX/UI Design
                        .val-h Chris Norton, Ryan Anderson
                    .key-value-pair
                        .key-h Developers
                        .val-h St. Louis Team
                div
                    p
                        img(src='images/boeing/insite/miro1.png')
                    p

                    figure
                        img(src='images/john-deere/translations/usability-testing-scorecard.jpg', width='100%')
                        figcaption Example from another project, but same the same format was used.

                .section
                    h3 Project Goal
                    p Create feature parity for mobile and modernize look and feel of the UI. Also  improve flows for finding team members, forming groups, posting news, asking questions, and organizing team events.
                    h3 Project Results
                    p My involvement ended shortly after releasing the new flows but we saw very few users switching back to the old interface once they elected for the update. The update included new components based on Material UI as well as workflows with fewer steps.
                    p <strong>Impact: </strong> Improved communication between teams and preserved existing knowledge libraries.
                    h3 What Was Fixed
                    p We updated the inline styles to use the Boeing design system based on Material Design suggestions and added new mobile equivalent examples to the pattern library. We built in a feedback loop with tools that allowed the user to elect the UI update and send feedback to the team.
                    h3 What was Learned
                    p The expectation from above was to just, "throw some UX on it,"  to make it work in mobile but several flows were fundamentally broken on desktop. Things like being able to flag/report inappropriate posts for example were non-existent.  Also not all mobile features needed parity. The level of security needed to be installed on phones was a blocker for large portions of intended personas which were limited by permissions to desktop use without installing company policies on personal phones. Obviously that wasn't going to fly.


            h3 What I Did
            .project-content-grid
                .section
                    h4 Review current process
                    p When I joined development was driven by full feature parity of desktop to mobile so just a list of pages the team was moving through and checking off that it could be viewed on mobile. So the hope for me was to just convert existing desktop screens into mobile equivalents. This was not going well. Users were still struggling to complete tasks in the system.
                    h4 Examine personas, journey and context
                    p I took a step back to look at things holistically because Boeing has a lot of security baked deep into their process.  At one point I had 3 different laptops to be able to work with different teams around the org because everything as so roped off. Working with applications via mobile required a company phone or installing invasive company policies on personal devices which created a huge amount of friction and made feature adoption on mobile very unlikely.
                    p
                        img(src='images/boeing/insite/posts.png')
                    h4 User permissions and feature prioritization
                    p I examined permissions in context with the journey it really helped give the team perspective on prioritizing features.  Do we fix a broken flow in the desktop app and also spend time creating parity on the mobile app or do we release faster and just fix the broken desktop flow first to see if that even moves the needle?  Why build 2 things that don't work?  This new lens allowed the team to be more focused and intentional with a better chance at having a real impact- or at least learn faster.
                    figure
                        img(src='images/john-deere/translations/task-prioritization.jpg')
                        figcaption Example from another project, but same the same format was used.

                .section
                    h4 Whiteboarding flows and wireframing
                    p I collaborated with the product owner and the dev team using Miro to draw out some initial flows and verify that ideas were even possible.  It also helped balance the effort from the dev team to be able to walk through some of their technical limitations and compromise on trade-offs and design alternatives. The comment system was also really helpful in resolving a visual to-do list for design using existing problem screenshots.
                    p
                        img(src='images/boeing/insite/miro2.png')
                    h4 Prototyping
                    p I built out interactive high-fidelity prototypes using Sketch and Figma pulling in styles from the new design system and updating library components as needed.
                    p
                        img(src='images/boeing/insite/inSite_D_FP_Results_Facet_Filter_CN.jpg')
                .section
                    p
                        img(src='images/boeing/insite/inSite_FP_AdvResults_CN.png')
                .section
                    h4 Usability testing
                    p I wrote and conducted remote usability testing with internal users.  I converted all the squishy feedback into metrics by charting feedback based on how much or how many times the user needed help to complete various tasks. I had done similar things for a Translations app for John Deere.
                    h4 Quantitative and Qualitative
                    p I also established a feedback loop allowing existing users to self-select and opt-in to upcoming releases to be able to provide feedback before rollouts would begin.  Rolling out with A/B testing also allowed us some danger metrics by seeing which users set their UI back after trying out the new system.
                    p
                        img(src='images/john-deere/translations/usability-testing-scorecard.jpg')


        //.project#service-admin-portal
        //    h3.project-title
        //        img(src='images/john-deere/john-deere-logo.png')
        //        span(style='color: #3d6c25') Service Admin Portal
        //
        //    .project-header-grid-hero
        //        .section
        //            h4 Details
        //            .key-value-pair
        //                .key-v Project
        //                .val-v Service Admin Portal
        //            .key-value-pair
        //                .key-v Client
        //                .val-v John Deere
        //
        //            .key-value-pair
        //                .key-v Platform
        //                .val-v Desktop, Tablet
        //
        //            .key-value-pair
        //                .key-v Launched
        //                .val-v Internal JD Network
        //            h4 Team
        //            .key-value-pair
        //                .key-h Project Manager
        //                .val-h Nancy Early
        //            .key-value-pair
        //                .key-h UX/UI Design
        //                .val-h Chris Norton
        //        p
        //            img(src='images/john-deere/svap/svap-header.jpg')
        //
        //        .section
        //            h3 What I Did
        //            p I mapped information architecture and iterated through complicated user task flows for a global single-page app managing billions of dollars in revenue and purchased customer services. Utilized techniques like empathy mapping, user personas, story mapping, card sorting, chalk mark testing, and reverse card sorting. I uncovered hidden gotchas not listed in requirements documents by walking business partners, project managers, and developers through user flows.  I used a variety of communication styles from running in-person ideation workshops to create low-fidelity wireframes as well as sending over Balsamiq prototypes for approval.  Balsamiq being low to medium fidelity allowed us to leverage the effort put into the design system.
        //
        //            h3 Project Overview
        //            p John Deere was looking to reduce the cost of equipment maintenance by bringing duplicate silo apps under a singular technology solution and dev team.  The hope being that a unified application would allow for a more consistent experience and better visibility between departments and throughout the full workflow.
        //    .project-content-grid
        //        .section
        //            h3 Kick-off
        //            p The team initially decided to minimize usability and adoption issues by basing large portions of the creation and editing workflow around existing websites already in use by various teams. Where possible the flow for editing and creating assets would remain similar.  Much of the new flow came from connecting assets that were previously isolated and could now talk to each other.   Budget was also a consideration so starting from scratch was going to be out of scope.
        //            p
        //                img(src='images/john-deere/svap/svap-03.jpg')
        //
        //        .section
        //            h3 Defining Users
        //            p Using the project requirements document, email interviews, and phone calls and user tasks we built out personas which allowed us to prioritize and find each user’s most needed tasks.
        //            h4 Business Owners and Dealers
        //            p Needed to be able to monitor overall profitability and admin
        //            h4 Sales Representatives
        //            p Needed the ability to quickly pull from existing template agreements, view existing agreements and work within bundled groups of agreements for customers.
        //            h4 Technicians
        //            p Needed to be able to update the status of their job tickets on customer machines as services were performed.  They also needed to be alerted to upcoming and past due tasks to be able to predict upcoming needs for staff workloads and ordering inventory.
        //
        //        .section
        //
        //            h3 User Testing and Findings
        //            p In-person workshop sessions were used to ensure user tasks were available and intuitive for each user type.  In some cases, we found that users were using multiple tabs as a gap fix to not having the context of the data in front of them for either global or minute actions even in the existing apps.  These areas offered us the chance to make the experience better by showcasing the missing data alongside the task.
        //            p
        //                img(src='images/john-deere/svap/svap-invision.jpg')
        //
        //        .section
        //            h4 Findings
        //            p One of the biggest challenges was introducing UX into an already established Agile-like development process. While we tried to map out major connections between sections ahead of development we ran into cases where the workflow dead-ended with the actual backend data available. Some additional concept proofs for specific sections may have been helpful in preventing some of the data availability mismatches as well as budgeting more time for iteration as the team adjusted to including UX into their process would have given more wiggle room.  Overall, allowing the users to have feedback early and often did make adoption smoother and users were less surprised with the final product.
        //        .section
        //            h4 Card Sorting for Better Navigation
        //            p To pin down navigation, users were asked to place task cards into groups that made the most sense to them.  Consideration was also given to how frequently the user would need to access the task.
        //            h4 Tree/Chalk-mark for Menus and Options
        //            p Users were presented with menu structures and asked where they would click to find areas of the site or next steps in the work-flow.
        //        .section
        //            h4 Whiteboard/Wireframe Prototypes
        //            p In some cases, multiple levels of user access complicated the approval structure of assets to the point where workflows had to be completely redefined. Low-fidelity prototype drawings allowed us to check in with users frequently and make sure the task could still be completed before being moved into high-fidelity interactive prototypes.
        //            p
        //                img(src='images/john-deere/svap/svap-00.jpg')
        //
        //        .section
        //            h4 Consolidating multiple UI Specifications
        //            p To build interactive, high-fidelity mockups we were able to pull from a living style guide being developed in parallel by a different team for many components.  When components were missing completely we took cues on fonts, colors, spacing and icons from what was already being developed and matched them as close as possible.  Part of my role included policing the style guide and returning it to developers if the final product mismatched these brand standards.
        //            p
        //                img(src='images/john-deere/svap/icons.jpg')
        //
        //.project#boeing-new-business-generator
        //    h3.project-title
        //        img(src='images/boeing/Boeing-Logo.png')
        //        span(style='color: #0033a1') New Business Generator
        //
        //    .project-header-grid-hero
        //        .section
        //            h4 Details
        //            .key-value-pair
        //                .key-v Project
        //                .val-v New Business Generator
        //            .key-value-pair
        //                .key-v Client
        //                .val-v Boeing
        //            .key-value-pair
        //                .key-v Platform
        //                .val-v Desktop, Tablet
        //            .key-value-pair
        //                .key-v Launched
        //                .val-v Internal Boeing Network
        //            h4 Team
        //            .key-value-pair
        //                .key-h Project Manager
        //                .val-h Shing-Hwa Cheung
        //            .key-value-pair
        //                .key-h UX/UI Design
        //                .val-h Chris Norton
        //            .key-value-pair
        //                .key-h Developer
        //                .val-h Chris Norton, India Team
        //            h3 What I Did
        //            p I brought focus to feature development by interviewing stakeholders and tying feature sets/user tasks back to journey maps and personas. Asking the right questions allowed me to eliminate the assumed mobile requirement and save 4 weeks of development time from a team of 5 developers.  Being in charge of both UX and UI required me to articulate design decisions, strategies, and progress to a range of stakeholders including business partners, project managers, and external development teams.  I also built the initial html/css/js to capture the more complex animations for the developers to use as a starter in production.
        //
        //            h3 Project Overview
        //            p Boeing's "New Business Generator" tool consolidates multiple internal tools under one roof and allows sales reps to manage active client relationships representing billions of dollars in revenue.
        //
        //        div
        //            p
        //                img(src='images/boeing/new-business-generator-task-flow.jpg', width='100%')
        //            p
        //                img(src='images/boeing/new-business-generator-provisional-persona.jpg', width='100%')
        //
        //        .section
        //            h3 Save money through UX
        //            p A lot of organizations sometimes have trouble justifying bringing UX into the budget.  UX is a little bit intangible at the start and it's hard to quantify exactly how it will help adding another person to the team.  The thing is though, when a project has several hypothetical developers billing at $150+/hr, 8 hours a day, 5 days a week, it adds up fast.  Even just 5 developers would be $6,000 a day, and $30,000/week.
        //            p If you can find problems before any of those folks get involved you start saving a lot of money really fast. Throughout the course of this project I probably saved the dev team about 4 or 5 weeks worth of  work based on their initial screenshots of how the project flowed previously.
        //
        //            h4 Key findings
        //            ol
        //                li
        //                    div
        //                        p Initially this project was slated to be launched on desktop, tablet and mobile phones.  Talking with actual users revealed that the complexity of the charts and data comparisons made it extremely difficult to see all necessary components at once on a mobile phone and that users would find this experience mostly unhelpful.
        //                        p <strong>Solution</strong><br>The mobile phone requirement was removed.
        //                li
        //                    div
        //                        p The previous implementations had a lot of restrictions on how they could access and display data through the existing architecture.  Even though the new version allowed data to be grouped and displayed more freely it was hard for the team to imagine the product working beyond what it did previously.
        //                        p <strong>Solution</strong><br>Mapping out some basic user task flow allowed me to see where we were making users backtrack further than necessary.  Condensing steps and eliminating duplicate routes allowed users to jump from one task to another faster and eliminated dev requirements.
        //
        //
        //
        //
        //
        //.project#boeing-historical-services
        //    h3.project-title
        //        img(src='images/boeing/Boeing-Logo.png')
        //        span(style='color: #0033a1') Historical Services
        //
        //    .project-header-grid-hero
        //        .section
        //            .flex-row
        //                div
        //                    h4 Details
        //                    .key-value-pair
        //                        .key-v Project
        //                        .val-v Historical Services
        //                    .key-value-pair
        //                        .key-v Client
        //                        .val-v Boeing
        //
        //                    .key-value-pair
        //                        .key-v Platform
        //                        .val-v Desktop, Tablet, Mobile
        //
        //                    .key-value-pair
        //                        .key-v Launched
        //                        .val-v Internal Boeing Network
        //                div
        //                    h4 Team
        //                    .key-value-pair
        //                        .key-h Project Manager
        //                        .val-h Adelle Squires
        //                    .key-value-pair
        //                        .key-h Strategist/Creative Director
        //                        .val-h Darryl Barrabee
        //                    .key-value-pair
        //                        .key-h UX/UI Design
        //                        .val-h Chris Norton
        //                    .key-value-pair
        //                        .key-h Developer
        //                        .val-h Teresa Jellison
        //
        //        div
        //            p
        //                img(src='images/boeing/historical-services.png', width='100%')
        //
        //        div
        //            .section
        //                h3 What I Did
        //                p I brought focus to feature development by tying requested features in the brief back to journey maps and user tasks which revealed the potential for more modern design patterns to solve the real user problem.
        //
        //                h3 Project Overview
        //                p Boeing was looking to reduce the number of customer service calls and emails related by providing users with more information about the process of preserving historically significant Boeing artifacts like blueprints, prototypes, etc.
        //            .section
        //                h3 Refining and Iterating Project Goals
        //                p To fulfill the original creative brief I was brought onto the team to handle the UX/UI on a few text-heavy pages provided by the client: Terms and Conditions page and Team Members.
        //                h4 Terms and Conditions Page
        //                p It took me a while to figure out what the Terms and Conditions page was trying to say during my first read-through which was a good indicator that the page needed a rewrite.  As it turned out, this page was less of a legal terms and conditions page and more of a reference manual that users could use if they got stuck on the form.
        //
        //                h4 Team Members Page
        //                p The goal of the Team Members page was to find the best format to display various pieces of data like name, job role, department specialty, bio, etc.  Included with the brief were three suggested template variations that ranged from displaying data as key/value pairs to a more prose-like format.  UX was needed to find the best option. Ah, but the best option to… do what? Provide relevant information for someone writing an article? Showcase the efforts and expertise behind the scenes?
        //                p Regrouping with the client and talking through the benefits of each format helped reveal that the real problem was that users were confused about who they should choose to submit the form to. So the most important information was each team member’s area of expertise.
        //            .section
        //                h3 Solving the Real Problem
        //                p So once I had a better understanding of what the additional pages were supposed to accomplish I could work on providing an experience that required less legwork for the user and less cognitive load.  Ideally, this would increase submissions via the form versus having to contact a team member for assistance each time.
        //                h4 Previous User Route with Creative Brief Additions
        //                ol
        //                    li User navigates from the home page to the submission form
        //                    li User is asked which team member should receive their submission
        //                    li User navigates to Team Page to look up the team member that specializes in the category of the item being submitted.
        //                    li User navigates to the submission form and fills in a team member
        //                    li User continues with the submission form and gets stuck on a question
        //                    li User navigates to Terms and Conditions page
        //                    li User searches or scrolls down to the relevant help section for more information
        //                    li User navigates to the submission form
        //                    li Progress is lost on the form so user opens a new tab to flip between the reference material and the form, repeating steps 4-8 until all the questions are complete
        //                    li User submits form
        //                    li Success!  Just kidding, the user dumps out and calls the direct line for help back at Step 2
        //            .section
        //                h3 Solutions
        //                p In both solves, the team page was removed in favor of letting the system determine where the form needed to go. This way the user could focus on their item being submitted and not have to worry so much about the process.
        //                .flex-row
        //                    div
        //                        h4 User Route 1
        //                        ol
        //                            li User navigates from home page to the submission form
        //                            li User is walked through a form wizard that provides help text and example answers inline. A categorizing question is included so the system can route the form to the correct person behind the scenes
        //                            li Success! User submits form
        //
        //
        //
        //                    div
        //                        h4 User Route 2
        //                        ol
        //                            li User navigates from home page to a category gallery
        //                            li User navigates to the submission form from a category-specific call to action that invites the user to submit a similar item
        //                            li User is walked through a form wizard that provides help text and example answers inline. The normal categorizing question is skipped because the system already knows the category based on the call to action
        //                            li Success! User submits form
        //                h4 User Benefits
        //                p Including galleries helped make more of the work more easily accessible and gave users a better reference for what types of items would be accepted into the archives. Previously the homepage contained a very general overview of what the division did and instructions on where to find the form.  Archives were seen in-person only.  Providing categorized galleries also helped to shortcut the categorization issue that users were struggling to understand by allowing them to submit similar items to the ones already on screen.
        //
        //
        //
        //
        //
        //
        //.project#paprika
        //    .section
        //        h3.project-title.paprika Mobile App with Conversational AI
        //        .project-header-grid-hero
        //            .section
        //                h4 Details
        //                .key-value-pair
        //                    .key-v Project
        //                    .val-v Paprika Mobile App
        //                .key-value-pair
        //                    .key-v Client
        //                    .val-v (Design Study)
        //                h4 Team
        //                .key-value-pair
        //                    .key-h UX / VUI Design
        //                    .val-h Chris Norton
        //            p
        //                img(src='images/paprika/utterances.jpg', width='100%')
        //
        //
        //            .section
        //                h3 What I Did
        //                p I helped run a new technology design study to incorporate UX/VUI and learn how to build multi-modal products using conversational AI.  I researched utterances vs intents with friends and coworkers and created conversational maps vs journey maps. I used Figma to visualize user scripts and task flows that paired with developer efforts building prototypes using Amazon’s Alexa.
        //
        //                h3 Project Overview
        //                p The Aquent team was hoping to define a workflow and proof of concept for adding voice capability to new and existing applications to create more touchpoints for users.  The app would help users to collect recipes, plan meals and shop for ingredients and includes touchpoints at home, on the go, and at the point of purchase.
        //
        //        .project-content-grid
        //            .section
        //                h3 Using Voice to Create More Touchpoints
        //                p VUI’s or Voice User Interfaces create unique opportunities to interact with products without having to physically touch them or even see them.  Tasks that require both hands or require the user to maintain eye contact are great candidates for a VUI.
        //
        //                h3 Accessibility and Safety with Covid-19
        //                p Especially with Covid-19, many companies are looking at reducing touch and controlling their applications via voice.  A lot of essential tasks such as banking, appointment scheduling, and grocery shopping have moved online. Making sure products are accessible to everyone, besides being the right thing to do is more important than ever as  companies are increasingly finding themselves in hot water when essential services don’t include considerations for users with disabilities such as those with reduced motor skills, memory and the visually impaired.
        //                h3 Why Conversational AI?
        //                p Conversational AI operates as a layer to AI that translates user speech(utterances) into intents and commands. With a conversational approach, you lean on the AI to figure out what the user is trying to do versus training users to talk like computers. This makes apps more intuitive and accessible. There is less learning and more just doing.
        //            .section
        //                h3 Traditional vs Conversational Examples
        //
        //                h4 Traditional Speech Recognition of Commands
        //                p Let’s say the user wants to find a recipe to make.  With traditional speech recognition that might look something like, “List recipes,” or, “Search chicken.”  The user is forced to know what tasks are available already.
        //                p
        //                    img(src='images/paprika/intents.jpg')
        //
        //                h4 Example of Conversational AI
        //                p With conversational AI the user can say something more like, “What can I make?” and the digital brain can figure out that the user is looking for a recipe (because it’s a recipe app) and can follow up with something like, “I found three recipes in vegetarian(category) and two side dishes(category) that can be made with items in your pantry. *beat* Would you like me to list those results? You can say stop listing at any time.”
        //            p
        //                img(src='images/paprika/paprika-search.png')
        //
        //            .section
        //                h3 Step 1: User Research and Validation
        //
        //                h4 User Interviews
        //                p To figure out if the voice would actually be able to solve the problem and reach more touchpoints with users we did a limited number of participants gauge user interest.
        //
        //                h4 Conversational Map/Journey Map
        //                p To get a general sense of how the voice would affect various sections of the app we did a mix of role-play and  onsite guerilla-style interviews, or we just went home and logged potential interactions while actually trying to cook something.  Asking  people how they would ask the app to complete a task was helpful in drawing out some of the initial keywords towards commands and intents.
        //                p
        //                    img(src='images/paprika/conversational-map.jpg')
        //
        //            .section
        //                h4 Environment
        //                p Looking back, using the environment as a constraint might have saved time in figuring out which sections were most useful.  It was really useful to have a starter library of keywords and actually language used though. User research indicated that users interacted with the app both inside and outside the home, but users were more motivated to use voice by themselves vs around others.  For example, both taking the bus and driving along both categorized the user as, “on the go,” but users were less self-conscious when they were driving alone.
        //                p Users also found more value in voice interactions during tasks that already required both hands or when their hands were dirty.  Having their hands coated in flour or other messy ingredients also made a strong case for voice interaction.
        //
        //            .section
        //                h4 Environment-Driven Tasks
        //                p Looking at tasks that users would likely want to complete while driving or while cooking both seemed like good starting candidates.  A few example tasks:
        //                ul
        //                    li Users who have scheduled recipes into a meal planner might want to verify that all ingredients have been added to their shopping list while on the way to the store.
        //                    li Users might want to know the next or previous steps in a recipe as they work along.
        //                    li Users might want to check off ingredients as they use them during food preparation.
        //
        //            .section
        //                h4 Debunked Assumptions
        //                p Interviewing users revealed confusion for doing anything cooking-related  tasks while driving. While some participants reported it useful to add eggs or snacks on the fly, people struggled with tying the need to work with shopping lists for recipes that had been scheduled on a calendar. We might not have worded the question very well either, but even after some explanation, it ranked as low-priority compared to other features.
        //
        //            .section
        //                h4 The Real MVP
        //                p Users did however find it intuitive to have voice assistance during food preparation. It was very valuable to find recipes and walk through instructions after the user had started to work with ingredients.  This allowed users to keep working vs having to wash their hands after various steps in order to use the app.
        //
        //            .section
        //                h3 Step 2: VUI (Voice User Interface) Design
        //                p
        //                    img(src='images/paprika/dialog-flow.jpg')
        //
        //            .section
        //                h4 Testing Dialog Prototypes
        //                p Once we knew which sections and tasks were higher priority we could start iterating through various dialog prototypes of task flows.  A lot of these can just be back and forth conversations in various forms before you start any actual coding.
        //
        //                h4 Notecards/Post-its
        //                p Two people sitting at a table with the existing app visible to both The “user” spoke phrases out loud and the “prototype” would sift through notecards and read the pre-written responses. This was an okay low-fidelity starter but the back and forth was a little awkward as the person playing the role of prototype searched through their pile of responses.  Also if there was no response it dead-ended the entire task flow causing another session to be scheduled for that flow.
        //
        //            .section
        //                h4 Wizard of Oz
        //                p It was actually a lot faster to have the two people in different rooms just call each other and have the user side try to initiate tasks via voice while the person playing prototype puppeted the responses.  This way everything didn’t come to a halt if unknowns showed up.  The prototype could adlib suggested actions or route through to error states.
        //
        //                h4 Situational Recording
        //                p Recording someone actually doing a task and interacting with the prototype was useful for gathering intents and language for indirect commands.  For example having someone say, “Hold on, I’m out of bowls!” wasn’t something the user was actively thinking about achieving, but the intent was still there to stop reading the current step until they washed one of the dirty bowls.
        //
        //            .section
        //                h3 Engaging Development and AI
        //
        //                h4 Voice-activated Prototypes
        //                p Once you start to have a running list of user utterances/triggers, intents, and commands you can start to link the prototype up to the technology side to make the call and response process flow even smoother.  Adobe XD has voice recognition but it only lets you link up one user utterance to trigger a response.  It might just be easier to link up a prototype to something like an Alexa skill depending on where the dev team is at and what library they’re using. Building a digital prototype in this way also makes the switch from responses with baked-in data into real function calls a little more seamless.
        //
        //                h4 Engaging with AI
        //                p You get a lot more out of the AI if you have a library of keywords and phrases built from the previous steps.  With a functional or semi-functional app in place,  you can leverage the AI to refine the keyword pairings that trigger commands and route the user into dialogs/flow for the tasks they are really asking for.
        .project#aquent-it-solutions-recruiting-website
            h3.project-title
                img(src='images/aquent/aquent-logo.jpg')
                span(style='color: #e5a747') Employee Recruiting Portal
            div
                h4 Problem Solving Summary
                ul.timeline-horizontal
                    li Qualitative/Generative Research
                    li Personas
                    li Journey and Business Ecosystem Mapping
                    li Define Points of Friction
                    li Engage HR
                    li Quantitative Research
                    li Qualitative Research
                    li Copywriting
                    li Visual design
                    li Imagery
                    li Motion Graphics
                    li Development
                    li Quantitative Review

            .project-header-grid-hero
                .section
                    h4 Details
                    .key-value-pair
                        .key-v Project
                        .val-v Recruiting Website
                    .key-value-pair
                        .key-v Client
                        .val-v Aquent IT Solutions

                    .key-value-pair
                        .key-v Platform
                        .val-v Desktop, Tablet, Mobile

                    .key-value-pair
                        .key-v Launched
                        .val-v <a href="https://aquent-it-solutions.com/" target="_blank">aquent-it-solutions.com</a>
                    h4 Team
                    .key-value-pair
                        .key-h UX/UI Design Lead
                        .val-h Chris Norton
                    .key-value-pair
                        .key-h UX Research/Testing
                        .val-h Chris Norton<br>Pooja Arshanapally<br>Mark Hein
                    .key-value-pair
                        .key-h Front-end Developer
                        .val-h Chris Norton

                div
                    .grid-double
                        div
                            p
                                img(src='images/aquent/aquent-full.jpg')
                            p
                                img(src='images/aquent/aquent-drone-vertical.jpg')
                        div
                            .video-container
                                img(src='video/aquent/aquent-drumroll-static.jpg')
                                <video id="aquent-home" width="768" height="514" poster="video/aquent/aquent-drumroll.jpg" controls="true">
                                <source src="video/aquent/aquent-drumroll.mp4" type="video/mp4">
                                </video>
                            .video-container
                                img(src='video/aquent/aquent-logo-static.jpg')
                                <video id="aquent-home" width="768" height="514" poster="video/aquent/aquent-logo.jpg" controls="true">
                                <source src="video/aquent/aquent-logo.mp4" type="video/mp4">
                                </video>
                    p
                        img(src='images/aquent/aquent-header.jpg')
                    p
                        img(src='images/aquent/aquent-map.jpg')


                .section
                    .video-container
                        img(src='video/aquent/aquent-home-static.jpg')
                        <video id="aquent-home" width="223" height="470" poster="video/aquent/aquent-home.jpg">
                        <source src="video/aquent/aquent-home.mp4" type="video/mp4">
                        </video>

                    h3 Project Goal
                    p Initially just modernize the website. Very low stakes. After taking ownership of the project and demonstrating the ability visualize some of these problems with design thinking however; the project became a deep focus for goal setting within the org.

                    h3 Project Results
                    p Materials have been successful for at least 5 years and last I check were still being used.
                    p <strong>Impact: </strong> Allowed the business to hire new talent on a faster timeline and better communicate their key value proposition both externally and internally.

                    h3 What Was Fixed
                    p Created a plan for improving the team culture and attracting new talent including reducing the overall interview and vetting process. We launched a few digital products including a new online video training portal and a recruiting site as part of a plan to better align the team environment and activities with the core business values. Landing pages allowed us better tracking for networking at events like job fairs and school visits.

                    h3 What was Learned
                    p The overall interview process was blocking the ability to hire in a timely manner. Company values didn't necessarily align with leadership decisions. There was a need to better define personas and document journeys. I would approach this a little differently after reading Org Design for Design Orgs by diving deeper into the core values and examining where they were mis-aligned with the environment and team activities. We did reach for these areas intuitively as options but I don't think their full impact was understood at the time.
            h3 What I Did
            p How I led end-to-end design and transformed a cosmetic refresh into something that actually moved the needle using data-driven design.

            .project-content-grid
                .section
                    h4 Qualitative/Generative Research
                    p Early on I was added to some brainstorming sessions for attracting new talent via updating the website. While we did generate lots of ideas I realized these didn't have holistic view to the overall journey and were all solutions based on bad data or no data. Even validated data was decades old. We didn't have any personas defined and there was no journey map or funnel to place ideas against. So no real context about where suggestions would live and if it would be effective at driving people to the next stage. It's no wonder most of the suggestions were surface level cosmetic changes about font and color preferences.
                    h4 Personas
                    p With no existing personas I needed to do some generative research and discovery to find out more about the intended users. I wrote up surveys for existing employees to find out a little more about why they chose Aquent. Using the surveys I built an overview of common facts, problems, behaviors and goals this would give context when we looked at friction points in the journey.
                    h4 Journey and Business Ecosystem Mapping
                    p After some digging I was able to find someone more familiar with the candidate journey and we mapped out the interview process. I then divided up the various stages and grouped them into a loose AIDA model (Awareness —> Interest -> Desire -> Action) so we could visualize and empathize with the user's state of mind at each stage. Were the users just casually browsing or were they deeply engaged? Were they even seeing us? Were the common problems and goals listed in the persona research being answered to the point of having enough desire to take action?
                .section
                    h4 Define Points of Friction
                    p I cataloged points of friction in the journey and wrote user stories for new features that could be addressed by the website.
                    h4 Engage HR
                    p A website can fix a lot of things, but it isn't going to prevent culture problems like burnout and mixed messaging between values, working environment, and daily activities. I can't change the actual building or run in-person events from just a website refresh. Those items were prioritized and offloaded from the scope of the website.
                    h4 Quantitative Research
                    p Establishing landing pages for job fairs and other events with CTAs for sending in resumes would give us a great feedback loop to gauge interest from particular events over time.
                    h4 Qualitative Research
                    p I also wrote short surveys given to candidates during onboarding to give us some generative feedback on what was or wasn't attracting talent.
                .section
                    h4 Copywriting
                    p I found the book "Letting Go of the Words" particularly helpful in rewriting all the copy for the website to address the problems and goals I found earlier in the persona discovery process.
                    h4 Visual design
                    p I used Adobe Photoshop, Illustrator, and Sketch to create graphics and page layouts. Colors, fonts and grid system were matched against the parent company website.
                    h4 Imagery
                    p I defined example imagery to be used in the marketing materials, picking overhead drone photos to create the feeling of seeing the big picture through future tech which is exactly what we provide in our solutions to clients: technology-based solutions that work with large amounts of data at a digestible scale.
                    h4 Motion Graphics
                    p I drew up storyboards, animated motion graphics, and handled sound design for an internal video training library. The primary focus of this team is web development so a gear was used to show things, "working." Having the logo typed out creates familiarity with job tasks which included typing out and organizing code.
                .section
                    h4 Development
                    p I used HTML5/CSS3 and JavaScript to build out the designs and engineered a few node.js task runners to automatically generate compressed HTML/CSS from Sass and pug sources files. It also ran CSSlint and ESlint before pushing to git version control.
                    h4 Quantitative Review
                    p Internal review was very positive. I got moved to other projects but metrics control was handed over to recruiters. I have to assume things were working since they've kept the same website for 5+ years now.

        .project#pixelmania
            h3.project-title
                img(src='images/pixelmania/pixelMania-logo.png')
                span(style='color: #2b5091') PixelMania: Metroid
            .project-header-grid-hero
                .section
                    h4 Details
                    .key-value-pair
                        .key-v Project
                        .val-v Metroid: Varia
                    .key-value-pair
                        .key-v Client
                        .val-v Pixelmania (Poland)
                    .key-value-pair
                        .key-v Launched
                        .val-v Multi-use, International

                    h4 Team 1
                    .key-value-pair
                        .key-h Creative Team Lead
                        .val-h Chris Norton
                    .key-value-pair
                        .key-h Talent/Costume Fabrication
                        .val-h Willow Creative (Netherlands)
                    .key-value-pair
                        .key-h Assistant
                        .val-h Katharine Repetski
                    .key-value-pair
                        .key-h Location Scout/Manager
                        .val-h Ambroży Kleks
                div
                    .metroid-intro
                        .video-container
                            img(src='video/pixelmania2019/metroid-static.jpg')
                            <video id="aquent-home" width="100%" poster="video/pixelmania2019/metroid-static.jpg" controls="true">
                            <source src="video/pixelmania2019/metroid.mp4" type="video/mp4">
                            </video>
                        p
                            img(src='images/pixelmania/infinityspiral-chris-norton-fui.jpg', width='100%')


                .section
                    p <strong>Passion Project/Impact: </strong> I wanted to put a little personality in here. No business or user goals other than just to have creatives get together to make some really incredible collaborative works. It has however gained the small towns hosting the events international attention.
                    h3 What I Did
                    p I led 15 different creative teams from 11 countries and as many languages over a 7 month period to produce 15 unique photo design projects for a single weekend event in Lubomierz, Poland.  I rallied teams around ideas by creating moodboards and storyboards and coordinated with a variety of team members including talent, location scouts and specialists like wolfdog trainers and pyrotechnicians.  I handled all the logistics of travel and timing including equipment, vehicle rental, and accommodations.  I was also the photographer/designer/retoucher for each project.


                    h3 Project Overview
                    p Pixelmania is an international collaboration laboratory for filmmakers, photographers, and costume designers to tell visual stories from comic books, movies, video games, and other pop culture. The event runs annually in Lubomierz, Poland.
                    p Artists compete for acceptance with only around a hundred photographers allowed into the event each year. Almost every shoot I had was from a different country. Being able to work around a language barrier and work with different viewpoints was also a necessary skill.

                    .countries
                        .flag
                            .australia
                            span Australia
                        .flag
                            .czech-republic
                            span Czech Republic
                        .flag
                            .france
                            span France
                        .flag
                            .germany
                            span Germany
                        .flag
                            .hungary
                            span Hungary
                        .flag
                            .italy
                            span Italy
                        .flag
                            .lithuania
                            span Lithuania
                        .flag
                            .netherlands
                            span Netherlands
                        .flag
                            .poland
                            span Poland
                        .flag
                            .slovakia
                            span Slovakia
                        .flag
                            .sweden
                            span Sweden
                    p During the event, attendees can book pre-scouted locations like ancient castles, abandoned factories, waterfalls, and Japanese gardens. Experts like animal handlers and pyrotechnicians are also available. I was able to work with the wolf dogs team and the pyrotechnics crew but you could also book horses to ride and other fun things too.


            .project-content-grid

                .section
                    h3 Pre-production
                    p As a photographer at this event, you are allowed to bring in an assistant to help carry gear, but you're the person responsible for making everything come together and delivering art. Producer, director, concept artist, camera operator, logistics- just everything. It's a lot of hats to make five shoots a day, three days in a row all come together in a foreign country.
                    p
                        img(src='images/pixelmania/organization_800px.jpg')
                    p People fly into Poland from as far as Australia so it’s very common to plan upwards of fifteen complicated photoshoots for the three-day event. Months of planning go into building costumes, designing concepts, and planning travel. It’s a very friendly collaborative space, but teams are there to get something made and at a high level. With everyone sinking their own money into the cost of production it’s hard to walk away from the experience without also gaining a lot of respect for the time and money that goes into even larger group projects. With five to six complex shoots happening every day.

                .section
                    h3 IP Research / Moodboard
                    p To match the look and feel of the existing game I pulled
                    p
                        img(src='images/pixelmania/moodBoard_768.jpg')
                    h3 UI Design
                    p I wrote out the why for the design so I could focus on whether things were moving towards the intended purpose. My intent was to create a moment in time where the character was checking the status and configuring systems on their super-futuristic spacesuit and the faux user interface needed to support that. Things like checking weapon stock, battery usage, life support, damage assessment, threat detection, systems diagnostics, GPS, and general OS controls are all reasonable things a space adventurer needs to survive on a hostile planet by themselves.
                    p
                        img(src='images/pixelmania/infinityspiral-chris-norton-fui-sketch.jpg')
                    p Once I locked in the reasons for design solves I laid down rapid sketches for possible icons and interfaces. The aim was to make sure I had enough variety and also that groups of UI could almost be guessed by the user without me have to spend lots of time finishing every icon out before having to throw parts away.
                .section

                    h3 3D Shaders Using Maya/Arnold
                    p
                        img(src='images/pixelmania/infinityspiral-chris-norton-fui-shader.jpg')
                    p The costume builder on the Varia team was a master 3D modeler and 3D print expert. I thought the floating panel would be a great way to showcase her skills in multiple ways by including a render of her 3D print file.

                    h4 Learning
                    p Unfortunately, her model was too high-resolution to fit into the scene. The model matched the game design exactly, but became more of a focal point and broke the composition. In round two, I found a free low-poly version of the suit on Turbo Squid that was less distracting. After writing an X-ray shader, the low-poly version was a much better direction.
                    p
                        img(src='images/pixelmania/infinityspiral-chris-norton-fui.jpg')

                .section
                    h3 Illustrator conversion
                    p
                        img(src='images/pixelmania/infinityspiral-chris-norton-fui-vector.jpg')
                    p I started creating vector art for the final composite once I had simple sketches in place. Mapping out the systems using UX flows made it easier to prioritize UI components according to available tasks. Threat warnings needed to be always visible whereas as monster guidebook might get tucked away.

                    .flex-row
                        .color-chip
                            .hex #05eafb
                        div
                            h3 Color
                            p Blue cues up the subconscious for science and learning. Green can feel toxic like a Disney villain or comforting like spring growth. Mixing a little green with blue introduces an other-worldly feel to the scene.
                    h3 Font - Metroid Prime Hunters
                    p
                        img(src='images/pixelmania/font-metroid-prime-hunters.jpg')
                    p There are several font sets used through the history of the game series but, “Metroid Prime Hunters,” retained more of a terminal feel when placed into the composition. It was a tough balancing act to find something that felt like it could live in a world within a world. The pixelated font helped the text stay in the panel even though you can’t  read most of it. It’s enough for it to just feel like you could read it if you needed to.




script(src='js/app.js')


