<!DOCTYPE html>
html(lang="en")#top
    head
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        title Chris Norton: UX Portfolio
        link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:300,600',rel='stylesheet')
        link(rel='stylesheet', href='https://cdnjs.Cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='styles/styles.css')
        script(src='js/polyfill.min.js')

body
    .header
        h1#header
            p.expertise UX/UI/Product Designer
                span.project-menu-triangle &#9664;
            .user-name
                a(class='name',href='#top') Chris Norton
                a(class='email',href='mailto:chris@infinityspiral.com', title='Send Email')
                    <i class="fa fa-envelope"></i>

    .quick-nav
        h5 Projects
        ol
            li
                a.project-jump('href'='#paprika')
                    span.project Mobile App with Conversational AI
                    span.company Paprika
            li
                a.project-jump('href'='#pixelmania')
                    span.project Metroid: Varia
                    span.company Pixelmania
            li
                a.project-jump('href'='#boeing-insite')
                    span.project Social Media Platform
                    span.company Boeing
            li
                a.project-jump('href'='#boeing-historical-services')
                    span.project Historical Services
                    span.company Boeing
            li
                a.project-jump('href'='#boeing-new-business-generator')
                    span.project New Business Generator
                    span.company Boeing
            li
                a.project-jump('href'='#aquent-it-solutions-recruiting-website')
                    span.project Employee Recruiting
                    span.company Aquent IT Solutions
            li
                a.project-jump('href'='#service-admin-portal')
                    span.project Service Admin Portal
                    span.company John Deere
            li.footer
                .contact-info Contact
                    a('href'='mailto:chris@infinityspiral.com', target='_blank') chris@infinityspiral.com
                a.project-jump('href'='#boeing-insite') Back to Top &#8593;

    .main-content
        .project#paprika
            .section
                h3.project-title.paprika Mobile App with Conversational AI
            .section
                .flex-row
                    div
                        h4 Details
                        .key-value-pair
                            .key-v Project
                            .val-v Paprika Mobile App
                        .key-value-pair
                            .key-v Client
                            .val-v Hindsight Labs
                    div
                        h4 Team
                        .key-value-pair
                            .key-h UX Design
                            .val-h Chris Norton
                        .key-value-pair
                            .key-h VUI Design
                            .val-h Chris Norton
            .section
                .flex-row
                    div
                        h3 Project Goal
                        p Provide a more inclusive user experience to an existing visual app through accessibility and functionality. Ultimately create more touchpoints for more users.

                        h3 Project Overview
                        p Paprika is a multi-modal recipe app that makes it easier to cook from home.  The application helps users to collect recipes, plan meals and shop for ingredients and includes touchpoints at home, on the go, and at the point of purchase.
                        h3 Using Voice to Create More Touchpoints
                        p VUI’s or Voice User Interfaces create unique opportunities to interact with products without having to physically touch them or even see them.  Tasks that require both hands or require the user to maintain eye contact are great candidates for a VUI.


                    div(style='flex:0 0 300px;')
                        p
                            img(src='images/paprika/paprika-search.png')

            .section
                h3 Accessibility and Safety with Covid-19
                p Especially with Covid-19, many companies are looking at reducing touch and controlling their applications via voice.  A lot of essential tasks such as banking, appointment scheduling, and grocery shopping have moved online. Making sure products are accessible to everyone, besides being the right thing to do is more important than ever as  companies are increasingly finding themselves in hot water when essential services don’t include considerations for users with disabilities such as those with reduced motor skills, memory and the visually impaired.
            .section
                h3 Why Conversational AI?
                p Conversational AI operates as a layer to AI that translates user speech(utterances) into intents and commands. With a conversational approach, you lean on the AI to figure out what the user is trying to do versus training users to talk like computers. This makes apps more intuitive and accessible. There is less learning and more just doing.
            .section
                h3 Traditional vs Conversational Examples

                h4 Traditional Speech Recognition of Commands
                p Let’s say the user wants to find a recipe to make.  With traditional speech recognition that might look something like, “List recipes,” or, “Search chicken.”  The user is forced to know what tasks are available already.
                p
                    img(src='images/paprika/intents.jpg')


                h4 Example of Conversational AI
                p With conversational AI the user can say something more like, “What can I make?” and the digital brain can figure out that the user is looking for a recipe (because it’s a recipe app) and can follow up with something like, “I found three recipes in vegetarian(category) and two side dishes(category) that can be made with items in your pantry. *beat* Would you like me to list those results? You can say stop listing at any time.”
                p
                    img(src='images/paprika/utterances.jpg')
            .section
                h3 Step 1: User Research and Validation

                h4 User Interviews
                p To figure out if the voice would actually be able to solve the problem and reach more touchpoints with users we did a limited number of participants gauge user interest.

                h4 Conversational Map/Journey Map
                p To get a general sense of how the voice would affect various sections of the app we did a mix of role-play and  onsite guerilla-style interviews, or we just went home and logged potential interactions while actually trying to cook something.  Asking  people how they would ask the app to complete a task was helpful in drawing out some of the initial keywords towards commands and intents.
                p
                    img(src='images/paprika/conversational-map.jpg')

                h4 Environment
                p Looking back, using the environment as a constraint might have saved time in figuring out which sections were most useful.  It was really useful to have a starter library of keywords and actually language used though. User research indicated that users interacted with the app both inside and outside the home, but users were more motivated to use voice by themselves vs around others.  For example, both taking the bus and driving along both categorized the user as, “on the go,” but users were less self-conscious when they were driving alone.
                p Users also found more value in voice interactions during tasks that already required both hands or when their hands were dirty.  Having their hands coated in flour or other messy ingredients also made a strong case for voice interaction.

                .flex-row
                    div
                        h4 Environment-Driven Tasks
                        p Looking at tasks that users would likely want to complete while driving or while cooking both seemed like good starting candidates.  A few example tasks:
                        ul
                            li Users who have scheduled recipes into a meal planner might want to verify that all ingredients have been added to their shopping list while on the way to the store.
                            li Users might want to know the next or previous steps in a recipe as they work along.
                            li Users might want to check off ingredients as they use them during food preparation.
                    div(style='flex:0 0 300px;')
                        p
                            img(src='images/paprika/paprika-sections.png')

                h4 Debunked Assumptions
                p Interviewing users revealed confusion for doing anything cooking-related  tasks while driving. While some participants reported it useful to add eggs or snacks on the fly, people struggled with tying the need to work with shopping lists for recipes that had been scheduled on a calendar. We might not have worded the question very well either, but even after some explanation, it ranked as low-priority compared to other features.

                h4 The Real MVP
                p Users did however find it intuitive to have voice assistance during food preparation. It was very valuable to find recipes and walk through instructions after the user had started to work with ingredients.  This allowed users to keep working vs having to wash their hands after various steps in order to use the app.



            .section
                h3 Step 2: VUI (Voice User Interface) Design
                p
                    img(src='images/paprika/dialog-flow.jpg')

                h4 Testing Dialog Prototypes
                p Once we knew which sections and tasks were higher priority we could start iterating through various dialog prototypes of task flows.  A lot of these can just be back and forth conversations in various forms before you start any actual coding.

                h4 Notecards/Post-its
                p Two people sitting at a table with the existing app visible to both The “user” spoke phrases out loud and the “prototype” would sift through notecards and read the pre-written responses. This was an okay low-fidelity starter but the back and forth was a little awkward as the person playing the role of prototype searched through their pile of responses.  Also if there was no response it dead-ended the entire task flow causing another session to be scheduled for that flow.

                h4 Puppet Master
                p It was actually a lot faster to have the two people in different rooms just call each other and have the user side try to initiate tasks via voice while the person playing prototype puppeted the responses.  This way everything didn’t come to a halt if unknowns showed up.  The prototype could adlib suggested actions or route through to error states.

                h4 Situational Recording
                p Recording someone actually doing a task and interacting with the prototype was useful for gathering intents and language for indirect commands.  For example having someone say, “Hold on, I’m out of bowls!” wasn’t something the user was actively thinking about achieving, but the intent was still there to stop reading the current step until they washed one of the dirty bowls.

                h3 Engaging Development and AI

                h4 Voice-activated Prototypes
                p Once you start to have a running list of user utterances/triggers, intents, and commands you can start to link the prototype up to the technology side to make the call and response process flow even smoother.  Adobe XD has voice recognition but it only lets you link up one user utterance to trigger a response.  It might just be easier to link up a prototype to something like an Alexa skill depending on where the dev team is at and what library they’re using. Building a digital prototype in this way also makes the switch from responses with baked-in data into real function calls a little more seamless.

                h4 Engaging with AI
                p You get a lot more out of the AI if you have a library of keywords and phrases built from the previous steps.  With a functional or semi-functional app in place,  you can leverage the AI to refine the keyword pairings that trigger commands and route the user into dialogs/flow for the tasks they are really asking for.

                hr
                small This project was done as a proof of a working process and was not contracted out by Hindsight Labs

        .project#pixelmania
            .section
                h3.project-title.pixelmania Metroid: Varia
                .metroid-intro
                    .video-container
                        img(src='video/metroid-static.jpg')
                        <video id="aquent-home" width="768" height="514" poster="video/metroid-static.jpg" controls="true">
                        <source src="video/metroid.mp4" type="video/mp4">
                        </video>
                    p
                        img(src='images/pixelmania/infinityspiral-chris-norton-fui.jpg')

            .section
                .flex-row
                    div
                        h4 Details
                        .key-value-pair
                            .key-v Project
                            .val-v Metroid: Varia
                        .key-value-pair
                            .key-v Client
                            .val-v Pixelmania (Poland)
                        .key-value-pair
                            .key-v Launched
                            .val-v Multi-use, International

                    div
                        h4 Team
                        .key-value-pair
                            .key-h Pre/Post Production & Camera
                            .val-h Chris Norton
                        .key-value-pair
                            .key-h Talent/Costume Fabrication
                            .val-h Willow Creative (Netherlands)
                        .key-value-pair
                            .key-h Assistant
                            .val-h Katharine Repetski
                        .key-value-pair
                            .key-h Location Scout/Manager
                            .val-h Ambroży Kleks

            .section
                .flex-row
                    div
                        h3 Project Goal
                        p Pixelmania is an international collaboration laboratory for filmmakers, photographers, and costume designers to tell visual stories from comic books, movies, video games, and other pop culture. The event runs annually in Lubomierz, Poland.
                        p Artists compete for acceptance with only around a hundred photographers allowed into the event each year. Almost every shoot I had was from a different country. Being able to work around a language barrier and work with different viewpoints was also a necessary skill.
                    .countries
                        .flag
                            .australia
                            span Australia
                        .flag
                            .czech-republic
                            span Czech Republic
                        .flag
                            .france
                            span France
                        .flag
                            .germany
                            span Germany
                        .flag
                            .hungary
                            span Hungary
                        .flag
                            .italy
                            span Italy
                        .flag
                            .lithuania
                            span Lithuania
                        .flag
                            .netherlands
                            span Netherlands
                        .flag
                            .poland
                            span Poland
                        .flag
                            .slovakia
                            span Slovakia
                        .flag
                            .sweden
                            span Sweden


                h3 Project Overview
                p During the event, attendees can book pre-scouted locations like ancient castles, abandoned factories, waterfalls, and Japanese gardens. Experts like animal handlers and pyrotechnicians are also available. I was able to work with the wolf dogs team and the pyrotechnics crew but you could also book horses to ride and other fun things too.
            .section
                h3 Pre-production
                p As a photographer at this event, you are allowed to bring in an assistant to help carry gear, but you're the person responsible for making everything come together and delivering art. Producer, director, concept artist, camera operator, logistics- just everything. It's a lot of hats to make five shoots a day, three days in a row all come together in a foreign country.
                p
                    img(src='images/pixelmania/organization_800px.jpg')
                p People fly into Poland from as far as Australia so it’s very common to plan upwards of fifteen complicated photoshoots for the three-day event. Months of planning go into building costumes, designing concepts, and planning travel. It’s a very friendly collaborative space, but teams are there to get something made and at a high level. With everyone sinking their own money into the cost of production it’s hard to walk away from the experience without also gaining a lot of respect for the time and money that goes into even larger group projects. With five to six complex shoots happening every day.


                h3 IP Research / Moodboard
                p To match the look and feel of the existing game I pulled
                p
                    img(src='images/pixelmania/moodBoard_768.jpg')
            .section
                h3 UI Design
                p I wrote out the why for the design so I could focus on whether things were moving towards the intended purpose. My intent was to create a moment in time where the character was checking the status and configuring systems on their super-futuristic spacesuit and the faux user interface needed to support that. Things like checking weapon stock, battery usage, life support, damage assessment, threat detection, systems diagnostics, GPS, and general OS controls are all reasonable things a space adventurer needs to survive on a hostile planet by themselves.
                p
                    img(src='images/pixelmania/infinityspiral-chris-norton-fui-sketch.jpg')
                p Once I locked in the reasons for design solves I laid down rapid sketches for possible icons and interfaces. The aim was to make sure I had enough variety and also that groups of UI could almost be guessed by the user without me have to spend lots of time finishing every icon out before having to throw parts away.

                h3 3D Shaders Using Maya/Arnold
                p
                    img(src='images/pixelmania/infinityspiral-chris-norton-fui-shader.jpg')
                p The costume builder on the Varia team was a master 3D modeler and 3D print expert. I thought the floating panel would be a great way to showcase her skills in multiple ways by including a render of her 3D print file.

                h4 Learning
                p Unfortunately, her model was too high-resolution to fit into the scene. The model matched the game design exactly, but became more of a focal point and broke the composition. In round two, I found a free low-poly version of the suit on Turbo Squid that was less distracting. After writing an X-ray shader, the low-poly version was a much better direction.




            .section
                h3 Illustrator conversion
                p
                    img(src='images/pixelmania/infinityspiral-chris-norton-fui-vector.jpg')
                p I started creating vector art for the final composite once I had simple sketches in place. Mapping out the systems using UX flows made it easier to prioritize UI components according to available tasks. Threat warnings needed to be always visible whereas as monster guidebook might get tucked away.

            .section
                .flex-row
                    .color-chip
                        .hex #05eafb
                    div
                        h3 Color
                        p Blue cues up the subconscious for science and learning. Green can feel toxic like a Disney villain or comforting like spring growth. Mixing a little green with blue introduces an other-worldly feel to the scene.
            .section
                h3 Font - Metroid Prime Hunters
                p
                    img(src='images/pixelmania/font-metroid-prime-hunters.jpg')
                p There are several font sets used through the history of the game series but, “Metroid Prime Hunters,” retained more of a terminal feel when placed into the composition. It was a tough balancing act to find something that felt like it could live in a world within a world. The pixelated font helped the text stay in the panel even though you can’t  read most of it. It’s enough for it to just feel like you could read it if you needed to.
                p
                    img(src='images/pixelmania/infinityspiral-chris-norton-fui.jpg')

        .project#boeing-insite
            h3.project-title.boeing Social Media Platform
            p
                img(src='images/boeing/insite/miro1.png')
            .section
                .flex-row
                    div
                        h4 Details
                        .key-value-pair
                            .key-v
                                Project
                            .val-v Social Media Platform
                        .key-value-pair
                            .key-v Client
                            .val-v Boeing

                        .key-value-pair
                            .key-v Platform
                            .val-v Desktop, Tablet, Mobile

                        .key-value-pair
                            .key-v Launched
                            .val-v Internal Boeing Network
                    div
                        h4 Team
                        .key-value-pair
                            .key-h Project Lead
                            .val-h Marc Rau
                        .key-value-pair
                            .key-h UX/UI Design
                            .val-h Chris Norton, Ryan Anderson
                        .key-value-pair
                            .key-h Developers
                            .val-h St. Louis Team


            .section
                .flex-row
                    div
                        h3 Project Goal
                        p Boeing was hoping to make it easier for employees to connect with each other by updating the UI and adding mobile functionality to their social platform.

                        h3 Overview
                        p I took over UX/UI efforts to add mobile functionality to a widely used social platform within the company. This tool was part of a larger application that allowed users to find team members, post news, ask questions, form groups, and organize events. I was tasked with providing design gap solutions to a few sections in progress and a few remaining major sections. User testing had not started when I was brought on.

            .section
                p
                    img(src='images/boeing/insite/miro2.png')

                h3 Remote Collaboration Experts
                p This team really taught me a lot about what an effective remote team can be like and the process was an active focus throughout the project. Even though we had team members in different states we were able to achieve better communication than a lot of the in-person teams I’ve worked on previously. We kept everyone on the same page through a mix of webcams, digital whiteboards, regular online meetings, and collective goal setting throughout an Agile process. We also used a combination of software including Adobe Suite, Sketch, InVison, Jira, and Miro.

                p
                    img(src='images/boeing/insite/posts.png')
                h4 Digital whiteboards
                p Having an interactive whiteboard gave us a huge speed boost. New features could be wireframed on the fly using post it-notes without spending time on any high-fidelity graphics. Features and flows could be vetted by developers quickly and easily. Design reviews could now do more with less effort. Cursor following tools allowed the team to see what other people were pointing to without having to switch who was sharing a screen. Screen sharing wasn't even necessary most of the time during these sessions.
                p Experimenting with the whiteboard as a ticketing system gave us a speed boost over Jira when it came to communicating design changes. Rather than creating a formatted ticket and attaching screenshots with descriptions scoping tasks we could now drive work with a quick post-it tacked directly to the design flow. The whiteboard system even allowed comments to be marked as resolved so it was easy to see what was still in progress. Designers could now jump into the flow and see flagged comments on the pieces that needed attention rather than reading through lengthy Jira tickets describing the design and having to open multiple tabs to see referenced screens.
            .section
                .flex-row
                    div
                        h3 Consideration for Existing Users
                        p Building a user base is a lot of work and takes a lot of time to build up any sort of traction. This project already had a wide user base within the company and in some cases, was the only way for people to find employee information. We needed to get buy-in from users to avoid them dumping out when the new site launched. Ideally this relationship would have been started before any design but late is better than never.

                        h3 Do Site Refreshes Add Value?
                        p A valuable redesign should be able to answer, “What do we want this refresh to do?” If you can answer this question you know what is valuable to your user and to the business supporting the product. It gets a lot easier if you can tie a refresh to goals like faster onboarding, shared learning between teams, and overall shorter development cycles.
                        p If you know the goals that add value you can move towards them. You can make decisions on whether unused features can be discarded or regrouped into new areas to create simplicity and clarity. You can design shorter routes for people which makes them want to use the new system, you don’t have to fight for it.
                        p When I arrived a lot of the design effort was driven by converting all the old site functionality into a mobile experience and then reusing most of the mobile look and feel to update the desktop. It’s really hard to show value to existing users when you don’t add anything new because to them it just looks like you’re changing fonts and colors and shifting the navigation around. UX is a lot more effective at the beginning of a project because it doesn’t cause a lot of rework when you find out users don’t actually need the thing you spent time developing.
                    .img-frame
                        img(src='images/boeing/insite/inSite_FP_AdvResults_CN.png')

            .section

                h3 Reclaiming Team Trust in the Design Process
                p Shifting design decisions to be driven by user feedback on prototypes helped instill a sense of trust that the design process would work for this team. Watching users struggle let the team see where users would bail on the new design even though it was duplicating all the old functionality. Because we now had a sense of priorities we could iterate away from the original design and provide tools for the tasks users wanted to complete.
                p This sounds pretty basic after the fact, but when you’ve got a project going full steam ahead it takes a lot of effort and finesse to do course correction like this. Because this small piece now had success behind it, the team was more comfortable shifting away from just duplicating old functionality and instead moving towards gathering user information first to drive a design.
                p
                    img(src='images/boeing/insite/inSite_D_FP_Results_Facet_Filter_CN.jpg')
        .project#boeing-historical-services
            h3.project-title.boeing Historical Services
            .section
                .flex-row
                    div
                        h4 Details
                        .key-value-pair
                            .key-v Project
                            .val-v Historical Services
                        .key-value-pair
                            .key-v Client
                            .val-v Boeing

                        .key-value-pair
                            .key-v Platform
                            .val-v Desktop, Tablet, Mobile

                        .key-value-pair
                            .key-v Launched
                            .val-v Internal Boeing Network
                    div
                        h4 Team
                        .key-value-pair
                            .key-h Project Manager
                            .val-h Adelle Squires
                        .key-value-pair
                            .key-h Strategist/Creative Director
                            .val-h Darryl Barrabee
                        .key-value-pair
                            .key-h UX/UI Design
                            .val-h Chris Norton
                        .key-value-pair
                            .key-h Developer
                            .val-h Teresa Jellison

            .section
                .flex-row
                    div
                        h3 Project Goal
                        p Boeing was looking to reduce the number of customer service calls and emails related by providing users with more information about the process of preserving historically significant Boeing artifacts like blueprints, prototypes, etc.

                        h3 Overview
                        p I led the UX/UI efforts to help turn a complex submission form into a more intuitive experience to reduce the amount of handholding needed by users through the process. We were able to provide better context and reduce time filling out the form by building in featured content and including category-specific submission CTA’s within new galleries.  Showing featured content also allowed us to better promote the value of the historical services team to other divisions within the company.
                    .img-frame
                        img(src='images/boeing/historical-services.png')
            .section
                h3 Refining and Iterating Project Goals
                p To fulfill the original creative brief I was brought onto the team to handle the UX/UI on a few text-heavy pages provided by the client: Terms and Conditions page and Team Members.
                h4 Terms and Conditions Page
                p It took me a while to figure out what the Terms and Conditions page was trying to say during my first read-through which was a good indicator that the page needed a rewrite.  As it turned out, this page was less of a legal terms and conditions page and more of a reference manual that users could use if they got stuck on the form.

                h4 Team Members Page
                p The goal of the Team Members page was to find the best format to display various pieces of data like name, job role, department specialty, bio, etc.  Included with the brief were three suggested template variations that ranged from displaying data as key/value pairs to a more prose-like format.  UX was needed to find the best option. Ah, but the best option to… do what? Provide relevant information for someone writing an article? Showcase the efforts and expertise behind the scenes?
                p Regrouping with the client and talking through the benefits of each format helped reveal that the real problem was that users were confused about who they should choose to submit the form to. So the most important information was each team member’s area of expertise.
            .section
                h3 Solving the Main Goal
                p So once I had a better understanding of what the additional pages were supposed to accomplish I could work on providing an experience that required less legwork for the user and less cognitive load.  Ideally, this would increase submissions via the form versus having to contact a team member for assistance each time.
                h4 Previous User Route with Creative Brief Additions
                ol
                    li User navigates from the home page to the submission form
                    li User is asked which team member should receive their submission
                    li User navigates to Team Page to look up the team member that specializes in the category of the item being submitted.
                    li User navigates to the submission form and fills in a team member
                    li User continues with the submission form and gets stuck on a question
                    li User navigates to Terms and Conditions page
                    li User searches or scrolls down to the relevant help section for more information
                    li User navigates to the submission form
                    li Progress is lost on the form so user opens a new tab to flip between the reference material and the form, repeating steps 4-8 until all the questions are complete
                    li User submits form
                    li Success!  Just kidding, the user dumps out and calls the direct line for help back at Step 2
            .section
                h3 Solutions
                p In both solves, the team page was removed in favor of letting the system determine where the form needed to go. This way the user could focus on their item being submitted and not have to worry so much about the process.
                .flex-row
                    div
                        h4 User Route 1
                        ol
                            li User navigates from home page to the submission form
                            li User is walked through a form wizard that provides help text and example answers inline. A categorizing question is included so the system can route the form to the correct person behind the scenes
                            li Success! User submits form



                    div
                        h4 User Route 2
                        ol
                            li User navigates from home page to a category gallery
                            li User navigates to the submission form from a category-specific call to action that invites the user to submit a similar item
                            li User is walked through a form wizard that provides help text and example answers inline. The normal categorizing question is skipped because the system already knows the category based on the call to action
                            li Success! User submits form
                h4 User Benefits
                p Including galleries helped make more of the work more easily accessible and gave users a better reference for what types of items would be accepted into the archives. Previously the homepage contained a very general overview of what the division did and instructions on where to find the form.  Archives were seen in-person only.  Providing categorized galleries also helped to shortcut the categorization issue that users were struggling to understand by allowing them to submit similar items to the ones already on screen.




        .project#boeing-new-business-generator
            h3.project-title.boeing New Business Generator
            .section
                .flex-row
                    div
                        h4 Details
                        .key-value-pair
                            .key-v Project
                            .val-v New Business Generator
                        .key-value-pair
                            .key-v Client
                            .val-v Boeing
                        .key-value-pair
                            .key-v Platform
                            .val-v Desktop, Tablet
                        .key-value-pair
                            .key-v Launched
                            .val-v Internal Boeing Network
                    div
                        h4 Team
                        .key-value-pair
                            .key-h Project Manager
                            .val-h Shing-Hwa Cheung
                        .key-value-pair
                            .key-h UX/UI Design
                            .val-h Chris Norton
                        .key-value-pair
                            .key-h Developer
                            .val-h Chris Norton, India Team

            .section
                h3 Project Goals
                p Boeing was looking for help organizing efforts from two previous versions of an existing application into a more streamlined, accessible system combining previous implementations of Tableau and providing a more intuitive way for sales reps to act on upcoming sales opportunities.
            .section
                h3 Overview
                p I led the UX effort on Boeing's "New Business Generator" tool allowing sales reps to manage active client relationships and manage billions of dollars in revenue.
            .section
                h3 Save money through UX
                p A lot of organizations sometimes have trouble justifying bringing UX into the budget.  UX is a little bit intangible at the start and it's hard to quantify exactly how it will help adding another person to the team.  The thing is though, when a project has several hypothetical developers billing at $150+/hr, 8 hours a day, 5 days a week, it adds up fast.  Even just 5 developers would be $6,000 a day, and $30,000/week.
                p If you can find problems before any of those folks get involved you start saving a lot of money really fast. Throughout the course of this project I probably saved the dev team about 4 or 5 weeks worth of  work based on their initial screenshots of how the project flowed previously.

                h4 Key findings
                ol
                    li
                        div
                            p Initially this project was slated to be launched on desktop, tablet and mobile phones.  Talking with actual users revealed that the complexity of the charts and data comparisons made it extremely difficult to see all necessary components at once on a mobile phone and that users would find this experience mostly unhelpful.
                            p <strong>Solution</strong><br>The mobile phone requirement was removed.
                    li
                        div
                            p The previous implementations had a lot of restrictions on how they could access and display data through the existing architecture.  Even though the new version allowed data to be grouped and displayed more freely it was hard for the team to imagine the product working beyond what it did previously.
                            p <strong>Solution</strong><br>Mapping out some basic user task flow allowed me to see where we were making users backtrack further than necessary.  Condensing steps and eliminating duplicate routes allowed users to jump from one task to another faster and eliminated dev requirements.


        .project#aquent-it-solutions-recruiting-website
            h3.project-title.aquent Employee Recruiting
            .section
                .flex-row
                    .video-container
                        img(src='video/aquent-home-static.jpg')
                        <video id="aquent-home" width="223" height="470" poster="video/aquent-home.jpg">
                            <source src="video/aquent-home.mp4" type="video/mp4">
                        </video>
                    div
                        h4 Details
                        .key-value-pair
                            .key-v Project
                            .val-v Recruiting Website
                        .key-value-pair
                            .key-v Client
                            .val-v Aquent IT Solutions

                        .key-value-pair
                            .key-v Platform
                            .val-v Desktop, Tablet, Mobile

                        .key-value-pair
                            .key-v Launched
                            .val-v <a href="https://aquent-it-solutions.com/" target="_blank">aquent-it-solutions.com</a>
                    div
                        h4 Team
                        .key-value-pair
                            .key-h Project Manager
                            .val-h Matt Kruse
                        .key-value-pair
                            .key-h UX/UI Design
                            .val-h Chris Norton
                        .key-value-pair
                            .key-h UX Research/Testing
                            .val-h Chris Norton<br>Pooja Arshanapally<br>Mark Hein
                        .key-value-pair
                            .key-h Front-end Developer
                            .val-h Chris Norton

            .section
                .flex-row
                    div
                        h3 Project Goal
                        p Aquent IT Solutions was looking attract more recruits by updating the current website with a more modern look
                    img(src='images/aquent/aquent-full.jpg')

            .section
                h3 Overview
                p I led the UX/UI/Front-end development efforts for the project which included a deep dive into the core business model and journey map of hiring on a new employee. By understanding the surrounding steps we were able to define better what role the website was actually playing in the overall process.
            .section
                h3 Refining and Iterating Project Goals
                p This project is a great example of how UX can help unify a wide variety of opinions under a single banner. When I was brought into the team the website was operating under the premise that, "of course we need a website because a business needs a website to look like a real business." Businesses build websites like this all the time just to get something out there, but run into trouble when it comes time to update and prioritize content. Everyone always has a different idea of what they think users want or need. The solution is pretty easy though - just ask the users.
                p Of course asking users seems obvious now, but companies wrestle with sites like these for years until someone comes in and actually identifies the problem. A lot of the time the problem is that they really just don’t have a clear idea of what their users are trying to get from the site. Page tracking was in place so they knew some pages were more popular than others, but with who? And did those pages lead to conversions?
                p A lot of conversations at the start revolved around what graphics looked old or what the best font sizes were. No real conversations about users being able to find necessary information or even who the users were. Was the purpose to attract new business, or was it to attract new recruits?  It wasn’t going to get us very far talking about what color a door should be if we didn’t first talk about if that door needed to be attached to a car or a house.
                p Prioritizing site goals and identifying users made it a lot easier to direct the team away from cosmetic changes and get them to focus on usability gaps by asking measurable questions like "Are we getting less job candidates calling in about H1B visas since adding the new section with visa information?" Less people calling in about visas? Yes? Okay success then. Next feature!
            .section
                p
                    img(src='images/aquent/aquent-header.jpg')

                h3 Defining Users to Create Better Project Deliverables
                h4 User 1: New business
                p Previously the website was hoping to appeal to both new business and employee candidates. Looking into past projects, we uncovered that very few business leads mentioned the website as a deciding factor. Most new business was attained through existing partner relationships with almost zero contact coming in from the site. It just wasn’t factor.
                h4 User 2: Employee Recruits
                p Aquent generates a significant portion of revenue by finding developers and placing them on site with client teams. By talking with recruiters we found that all of these job candidates touched the website at some point and it did have a significant impact on their decision to pursue an interview. So our biggest impact would be in catering to job candidates with the goal of getting more of them to reach out via the site to begin the interview process.
            .section
                p
                    img(src='images/aquent/aquent-map.jpg')

                h3 User Testing and Gathering Users
                p We were able to get a fresh supply of user testing by adding new hires as site testers. Through a mix of ongoing surveys and live-recorded usability sessions we were able to uncover what conversations users were hoping to have with the site and where that communication broke down. Also by asking job candidates about the website we got more insight into user frustrations throughout the recruitment process that ran a lot deeper than just making a website look more modern.
            .section
                h3 Test Findings
                h4 Menus
                p During testing we found that our menus were unclear. Some menu items were trying to be too cute. Straightforward, boring menus worked better.
                h4 Users hate filling out job forms
                p Users also hated contact forms and filling out job history. Except for one user, the vast majority preferred the option of just sending an email with a resume versus filling out a lengthy form with job history. We took out the contact form and replaced it with an email where they could send it in to a real person. After each testing session we made the smallest effective change to fix the problem and then retested. Over and over until we stopped having the problem.

                h4 Other big problems
                ol
                    li Candidates  didn't feel informed about the overall process or were left wondering about next steps causing them to leave the process.
                    li Users had a hard time understanding what the company actually did.
                    li Candidates didn't know whether they were talking to Aquent the parent company or Aquent IT Solutions the technology division which caused users to bail.
                    li Each social media channel looked like it was run by a different team.

                p
                    img(src='images/aquent/aquent-funnel.jpg')

                h3 Solving the biggest problem of all: TIME
                p In some cases we found the hiring process was taking upwards of two months!  That was way too long between contacting a candidate and placing them on site with a client. This was easily our biggest hurdle in being able to place new candidates quickly and competitively.
                p Overlaying our decades-old process flow on top of our newly-created journey map allowed me to uncover our own roadblocks. We had too many interviews and they were spaced too far apart. Also approvals during the process, originally meant to save people time were causing scheduling conflicts and pushing back timelines.

                h4 PREVIOUS INTERVIEW PROCESS (2 WEEKS BETWEEN STEPS!)
                ol
                    li
                        p <strong> WEEK 1-2</strong><br>Recruiter reaches out for a short phone conversation to gauge interest and talk about opportunities
                    li
                        p <strong> WEEK 3-4</strong><br>HR - Screens for temperament and general fit into the project team environment, pre-screens for technical interviewer so a part one tech interview. In at least one case a user ended the process at the confusion of being given a tech interview by a non-tech person.
                    li
                        p <strong> WEEK 5-6</strong><br>Technical - Screens for advanced technical knowledge, tech interview part 2
                    li
                        p <strong>WEEK 7-8</strong><br>Hiring company/Client - Screens for their own individual team so tech interview part 3

                h4 REVISED PROCESS (2 Months down to 7 days or less)
                ol
                    li
                        p <strong>DAY 1 - Gauge interest conversation and screen for behavior</strong><br>Recruiter finds a potential candidate and reaches out for a short conversation to gauge interest in setting up an interview. The recruiter pre-screens for behavioral and to answer HR related questions instead of setting up a whole other interview before a tech interview.
                    li
                        p <strong>Day 2 - Tech interview via Skype or in Person</strong><br>For candidates that have reached out, resumes have been screened already by a senior developer. This was one of the biggest blockers. Having the tech take five minutes to pre-screen a resume after a candidate expressed interest far outweighed the 1-3 weeks lost in waiting for someone with senior experience to free up time to pre-screen after that first interview had taken place.  Also it worked towards solving the problem of experienced candidates being technically interview by inexperienced staff.
                    li
                        p <strong>Day 3</strong><br>Candidate interviews with client team where they will potentially be placed.  Unfortunately this still means a multi-day interview process but it does take the number of days the candidate down to two surgical time slots versus 4 days spaced out over months.
            .section
                .flex-row
                    div
                        h3 Content strategy
                        p Having users not understand what the company did was a big deal. Asking around, even internal employees struggled with any sort of elevator pitch. It made sense, the main source of marketing for decades had been the website and the website changed direction every few years. So really the content strategy needed to include internal effort as well to help our own people understand what they were working together to achieve. I created guidelines for content and tone for social media, internal communication and external marketing.
                    p(style='flex:0 0 300px;')
                        img(src='images/aquent/aquent-drone-vertical.jpg')

                h4 Social media
                p We found candidates really only found us through a select few social media sites. As a conservation of effort we brought the branding in line with those particular sites and closed the remainder. We also committed to a content strategy to prevent these areas from looking abandoned in the future.
                h4 Imagery
                p I defined example imagery to be used in the marketing materials, picking overhead drone photos to create the feeling of seeing the big picture through future tech which is exactly what we provide in our solutions to clients: technology-based solutions that work with large amounts of data at a digestible scale.

        .project#service-admin-portal
            h3.project-title.john-deere Service Admin Portal

            p
                img(src='images/john-deere/svap/svap-header.jpg')

            .section
                .flex-row
                    div
                        h4 Details
                        .key-value-pair
                            .key-v Project
                            .val-v Service Admin Portal
                        .key-value-pair
                            .key-v Client
                            .val-v John Deere

                        .key-value-pair
                            .key-v Platform
                            .val-v Desktop, Tablet

                        .key-value-pair
                            .key-v Launched
                            .val-v Internal JD Network
                    div
                        h4 Team
                        .key-value-pair
                            .key-h Project Manager
                            .val-h Nancy Early
                        .key-value-pair
                            .key-h UX/UI Design
                            .val-h Chris Norton
                        .key-value-pair
                            .key-h HTML/Sass/CSS
                            .val-h Chris Norton
            .section
                h3 Project goals
                ol
                    li Combine various single-use business applications under one central app.
                    li Provide a catered experience to business owners, dealers, sales representatives, and service technicians that maintains current level of functionality
                    li Make digital assets more re-usable and discoverable between departments

            .section
                .flex-row
                    div
                        h3 Overview
                        p John Deere was looking to reduce the cost of equipment maintenance by bringing duplicate silo apps under a singular technology solution and dev team.  The hope being that a unified application would allow for a more a more consistent experience and better visibility between departments and throughout the full workflow.
                    p(style='flex:0 0 400px;')
                        img(src='images/john-deere/svap/svap-03.jpg')

                p The team decided initially decided to minimize usability and adoption issues by basing large portions of the creation and editing workflow around existing websites already in use by various teams. Where possible the flow for editing and creating assets would remain similar.  Much of the new flow came from connecting assets that were previously isolated and could now talk to each other.   Budget was also a consideration so starting from scratch was going to be out of scope.

            .section
                h3 Defining Users
                p Using the project requirements document, email interviews, and phone calls and user tasks we built out personas which allowed us to prioritize and find each user’s most needed tasks.
                h4 Business Owners and Dealers
                p Needed to be able to monitor overall profitability and admin
                h4 Sales Representatives
                p Needed the ability to quickly pull from existing template agreements, view existing agreements and work within bundled groups of agreements for customers.
                h4 Technicians
                p Needed to be able to update the status of their job tickets on customer machines as services were performed.  They also needed to be alerted to upcoming and past due tasks to be able to predict upcoming needs for staff workloads and ordering inventory.

            .section
                p
                    img(src='images/john-deere/svap/svap-invision.jpg')

                h3 User Testing and Findings
                p In-person workshop sessions were used to ensure user tasks were available and intuitive for each user type.  In some cases, we found that users were using multiple tabs as a gap fix to not having the context of the data in front of them for either global or minute actions even in the existing apps.  These areas offered us the chance to make the experience better by showcasing the missing data alongside the task.

                h4 Findings
                p One of the biggest challenges was introducing UX into an already established Agile-like development process. While we tried to map out major connections between sections ahead of development we ran into cases where the workflow dead-ended with the actual backend data available. Some additional concept proofs for specific sections may have been helpful in preventing some of the data availability mismatches as well as budgeting more time for iteration as the team adjusted to including UX into their process would have given more wiggle room.  Overall, allowing the users to have feedback early and often did make adoption smoother and users were less surprised with the final product.
                h4 Card Sorting for Better Navigation
                p To pin down navigation, users were asked to place task cards into groups that made the most sense to them.  Consideration was also given to how frequently the user would need to access the task.
                h4 Tree/Chalk-mark for Menus and Options
                p Users were presented with menu structures and asked where they would click to find areas of the site or next steps in the work-flow.

                .flex-row
                    div
                        h4 Whiteboard/Wireframe Prototypes
                        p In some cases, multiple levels of user access complicated the approval structure of assets to the point where workflows had to be completely redefined. Low-fidelity prototype drawings allowed us to check in with users frequently and make sure the task could still be completed before being moved into high-fidelity interactive prototypes.
                    p(style='flex:0 0 300px;')
                        img(src='images/john-deere/svap/svap-00.jpg')

                h4 Consolidating multiple UI Specifications
                p To build interactive, high-fidelity mockups we were able to pull from a living style guide being developed in parallel by a different team for many components.  When components were missing completely we took cues on fonts, colors, spacing and icons from what was already being developed and matched them as close as possible.  Part of my role included policing the style guide and returning it to developers if the final product mismatched these brand standards.
                p
                    img(src='images/john-deere/svap/icons.jpg')
script(src='js/app.js')


