<!DOCTYPE html>
html(lang="en")
    head
        <meta charset="UTF-8">
        title Basic Example
        link(href='https://fonts.googleapis.com/css?family=Merriweather|Open+Sans',rel='stylesheet')
        link(rel='stylesheet',href='styles/styles.css')
        script(src='js/polyfill.min.js')

body
    div.mainContent
        h1 Welcome 3
        p This is a test 2
script(src='js/app.js')
script(src='js/app.js')


