<!DOCTYPE html>
html(lang="en")#top
    head
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        title Chris Norton: Product/UX/UI/Visual Designer
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        //link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Source+Sans+3&display=swap', rel='stylesheet')


        link(href='https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Source+Sans+3&display=swap&display=swap' rel='stylesheet')




        link(rel='stylesheet', href='https://cdnjs.Cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='styles/styles-2025.css')
        script(src='js/polyfill.min.js')

body
    .wrapper.bg-light-1
        .page
            header
                h1 Christopher Norton
                nav
                    a(href='index.html') Home
                    a(href='index.html#projects') Projects
                    a(href='#contactForm') Contact
                    a(href='https://www.linkedin.com/in/christopher-p-norton/', target='_blank', class='linkedin')
                        img(src='images/logos/icons8-linkedin-50.png', class='icon-linkedin', style='height: 40px; position:relative; top:-13px; ')



            section.bubble
                .page-nav
                    a(href='index.html#projects').back
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M20 18V20H13.5C9.91 20 7 17.09 7 13.5V7.83L3.91 10.92L2.5 9.5L8 4L13.5 9.5L12.09 10.91L9 7.83V13.5C9 16 11 18 13.5 18H20Z" fill="black"/>
                        </svg>Projects
                .content
                    p
                        img(src='images/john-deere/svap/svap-header.jpg', style='width;100%')
                    p
                        img(src='images/john-deere/svap/svap-invision.jpg', style='width;100%')
                        small Prototype screens for a services management application with many complex process states and user privileges.


                    h2 John Deere
                    .tags
                        .tag.ux UX
                        .tag.ui UI
                        .tag.uxr UXR
                        .tag.redacted Limited


                    h4 Limited
                    p Due to the sensitive nature of the projects I worked on at John Deere, I walked away with very few visuals despite my 6 years there as a solo designer to various dev teams so you'll just have to take my word for it that I worked on <strong>6 enterprise-level</strong>, process and state-driven web and mobile applications both internal and customer-facing.

                    h6 Here's a few things I did during my time:
                    ul
                        li Designed customer-facing e-commerce sites for $750,000+ vehicles and machinery for agriculture, forestry, and construction.
                        li Worked on applications and features that touched <strong>billions</strong> of dollars in sales and services.
                        li Designed backend applications for sales staff, dealership owners, warehouse managers and staff as well as upper-level business strategists and corporate management.
                        li Designed CTAs such as building purchase quotes, managing warranties, managing service agreements, tracking parts inventory, and scheduling availability.
                        li Integrated department-level one-off legacy apps into flows of more current, company-wide applications to provide in-line context, consolidate backlog and update branding for consistency.

                    h6 Specifically:
                    ul
                        li Interviewed and established a feedback loops for stakeholders with a range of concerns and access privileges to CTAs and content.
                        li Mapped out information architecture and created wireframes and interactive prototypes using Balsamiq, Sketch, and <strong>Figma</strong>.
                        li Helped build a design system with branded themes for Agriculture, Forestry, Construction, and Hitachi.
                        li Provided markup instructions and working HTML/CSS/JS prototypes for dev teams to execute flows.
                        li Served as the secret CSS ninja troubleshooting the most complex CSS layout issues.
                        li Performed usability and accessibility testing on prototypes and from live deployments, compiling results based on promotion success, time to complete tasks, feature adoption, ticket closure rates, and other metrics.
                    h6 Sample Planning Artifacts
                    p
                        img(src='images/john-deere/translations/translations-header.jpg', style='width;100%')
                        small Mindmap defining problems and anchoring some CTAs for a simple translations app discussion.
                    p
                        img(src='images/john-deere/translations/task-prioritization.jpg', style='width;100%')

                    h6 Usability Testing Artifacts
                    .usability-testing-scripts
                        img(src='images/john-deere/translations/scenarios-1.jpg', style='width;100%')
                        img(src='images/john-deere/translations/instructions-for-observers-1.jpg', style='width;100%')
                        img(src='images/john-deere/translations/instructions-for-observers-2.jpg', style='width;100%')
                        img(src='images/john-deere/translations/test-script-web-1.jpg', style='width;100%')
                    h6 Results & Analysis
                        p
                            img(src='images/john-deere/translations/usability-testing-scorecard.jpg', style='width;100%')
            .page-nav
                a(href='index.html#projects').back
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20 18V20H13.5C9.91 20 7 17.09 7 13.5V7.83L3.91 10.92L2.5 9.5L8 4L13.5 9.5L12.09 10.91L9 7.83V13.5C9 16 11 18 13.5 18H20Z" fill="black"/>
                    </svg>Projects

    footer.bg-light-4
        .about-me
            h6 Christopher Norton
            p Senior designer with experience in UX/UI launching 26 new products and countless features for web and mobile in the last 10 years. Able to lead, execute, analyze, and iterate on products from start to finish for cross-functional and regionally diverse teams. Strong problem-solving skills and a design thinker with a proven track record in enterprise-level B2B, B2C and SaaS products for clients such as: <strong>Boeing</strong>, <strong>Dell</strong>, <strong>John Deere</strong>, <strong>Booz Allen</strong>, <strong>Animal Planet</strong>, <strong>The Learning Channel</strong>, and others.
            small <strong>Hidden Gem</strong>: I also developed this site from scratch using HTML5, CSS3, and JS using Node.js to run a local preview server which compiles and minifies Sass on the fly with Autoprefixer, CSS Lint and ES Lint. Version control is run through Github pages. I have wide a wide range of skills enabling me to bridge the communication gap between business stakeholders, designers and engineering teams.

        .social-links
            h4 Site
            a(href='index.html') Home
            a(href='index.html#projects') Projects
            a(href='https://www.linkedin.com/in/christopher-p-norton/', target='_blank') LinkedIn

        form(method='post', name='contactForm', id='contactForm')
            h6 Contact Me

            .form-group
                label(for='fullName') Full Name
                input(name='fullName', id='fullName' type='text')
            .form-group
                label(for='email') Email
                input(name='email', id='email' type='text')
            .form-group
                label(for='message') Message
                textarea(name='message', id='message', rows="7")
            .form-group
                button(type='submit', id='submitContact') Send
            .form-group
                p#formStatus Your message has been sent.

script(src='js/contact.js')


