include _header.pug
body
    .wrapper.bg-light-1
        .page
            include _navigation.pug
            section.bubble
                .content
                    .page-nav.top
                        a(href='index.html#projects').back
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 18V20H13.5C9.91 20 7 17.09 7 13.5V7.83L3.91 10.92L2.5 9.5L8 4L13.5 9.5L12.09 10.91L9 7.83V13.5C9 16 11 18 13.5 18H20Z" fill="black"/>
                            </svg>Projects
                    p
                        img(src='images/john-deere/svap/svap-header.jpg', style='width;100%')
                    p
                        img(src='images/john-deere/svap/svap-invision.jpg', style='width;100%')
                        small Prototype screens for a services management application with many complex process states and user privileges.


                    h2 John Deere
                    p Internal web and mobile applications
                    .tags
                        .tag.ux UX
                        .tag.ui UI
                        .tag.uxr UXR
                        .tag.redacted Limited


                    h4 Limited
                    p Due to the sensitive nature of the projects I worked on at John Deere, I walked away with very few visuals despite my 6 years there as a solo designer to various dev teams so you'll just have to take my word for it that I worked on <strong>6 enterprise-level</strong>, process and state-driven web and mobile applications both internal and customer-facing.

                    h6 Here's a few things I did during my time:
                    ul
                        li Designed customer-facing e-commerce sites for $750,000+ vehicles and machinery for agriculture, forestry, and construction.
                        li Worked on applications and features that touched <strong>billions</strong> of dollars in sales and services.
                        li Designed backend applications for sales staff, dealership owners, warehouse managers and staff as well as upper-level business strategists and corporate management.
                        li Designed CTAs such as building purchase quotes, managing warranties, managing service agreements, tracking parts inventory, and scheduling availability.
                        li Integrated department-level one-off legacy apps into flows of more current, company-wide applications to provide in-line context, consolidate backlog and update branding for consistency.

                    h6 Specifically:
                    ul
                        li Interviewed and established a feedback loops for stakeholders with a range of concerns and access privileges to CTAs and content.
                        li Mapped out information architecture and created wireframes and interactive prototypes using Balsamiq, Sketch, and <strong>Figma</strong>.
                        li Helped build a design system with branded themes for Agriculture, Forestry, Construction, and Hitachi.
                        li Provided markup instructions and working HTML/CSS/JS prototypes for dev teams to execute flows.
                        li Served as the secret CSS ninja troubleshooting the most complex CSS layout issues.
                        li Performed usability and accessibility testing on prototypes and from live deployments, compiling results based on promotion success, time to complete tasks, feature adoption, ticket closure rates, and other metrics.
                    h6 Sample Planning Artifacts
                    p
                        img(src='images/john-deere/translations/translations-header.jpg', style='width;100%')
                        small Mindmap defining problems and anchoring some CTAs for a simple translations app discussion.
                    p
                        img(src='images/john-deere/translations/task-prioritization.jpg', style='width;100%')

                    h6 Usability Testing Artifacts
                    .usability-testing-scripts
                        img(src='images/john-deere/translations/scenarios-1.jpg', style='width;100%')
                        img(src='images/john-deere/translations/instructions-for-observers-1.jpg', style='width;100%')
                        img(src='images/john-deere/translations/instructions-for-observers-2.jpg', style='width;100%')
                        img(src='images/john-deere/translations/test-script-web-1.jpg', style='width;100%')
                    h6 Results & Analysis
                        p
                            img(src='images/john-deere/translations/usability-testing-scorecard.jpg', style='width;100%')
                    .page-nav.bottom
                        a(href='index.html#projects').back
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 18V20H13.5C9.91 20 7 17.09 7 13.5V7.83L3.91 10.92L2.5 9.5L8 4L13.5 9.5L12.09 10.91L9 7.83V13.5C9 16 11 18 13.5 18H20Z" fill="black"/>
                            </svg>Projects
    include _footer.pug
