include _header.pug
body
    .wrapper.bg-light-1
        .page
            section
                .content
                    .box
                        h1 Pre-production
                        h1 Pre-production

                        h2 Pre-production
                        h2 Pre-production

                        h3 Pre-production h3
                        h3 Pre-production h3

                        h4 Pre-production h4
                        h4 Pre-production h4

                        h5 Pre-production h5
                        h5 Pre-production h5

                        h6 Pre-production h6
                        h6 Pre-production h6

                        p As a photographer at this event, you are allowed to bring in an assistant to help carry gear, but you're the person responsible for making everything come together and delivering art. Producer, director, concept artist, camera operator, logistics- just everything. It's a lot of hats to make five shoots a day, three days in a row all come together in a foreign country.
                        p As a photographer at this event, you are allowed to bring in an assistant to help carry gear, but you're the person responsible for making everything come together and delivering art. Producer, director, concept artist, camera operator, logistics- just everything. It's a lot of hats to make five shoots a day, three days in a row all come together in a foreign country.


    include _footer.pug


